node_modules/
.env.*
!.env.*.template

yarn.lock

# Sanity
/studio/dist/

# Eleventy
/web/_site/
/web/.cache/
/web/src/static/bundles/*
!/web/src/static/bundles/.gitkeep
/web/tmp/*
!/web/tmp/.gitkeep

# Generated hash data
/web/src/_data/hash.json
 