{% extends 'layouts/page.njk' %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-7xl w-full py-12 lg:py-20">
      <div class="parent-description">
      {{ content | md | safe }}
      </div>

    <h3 class="text-center mt-12 font-bold text-2xl mb-4">
      Available Refurbs
    </h3>
    <div class="max-w-prose mx-auto"> 
    <p>We usually have a selection of refurbed bikes available for purchase, or short-term use. Pop into the workshop to view our current offering, or just peer through window to see what we have.</p>
    <p>Looking to upgrade your kids bike to a larger size? We'll gladly accept a swap.</p>
    </div>
  </div>
  
</section>
{% endblock %}
