{% extends 'layouts/page.njk' %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-7xl w-full py-12 lg:py-20">
      <div class="parent-description">
      {{ content | md | safe }}
      </div>
  </div>
  
</section>
{% endblock %}
