{% extends 'layouts/base/index.njk' %}

{% if refurb.images[0] %}
{% set bannerSrc  =  refurb.images[0].url %}
{% endif %}

{% set crumbsJSON = collections.refurbs | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
{% set bannerTitle = refurb.name %}
{% set tertiaryTitle = "Refurbed Bike" + " For Sale" if refurb.available else "" %}

{% block banner %}
  {% include 'src/_includes/layouts/includes/bannerLarge.njk' %}
{% endblock %}

{% block content %}
<section class="flex justify-center px-2 lg:px-4">
  <div class="max-w-7xl w-full mt-8 sm:mt-12 lg:mt-16">
    <div class="flex flex-col md:flex-row mx-auto">
      <div class="flex-1 simple-description">
        <h3 class="font-bold text-2xl">Refurbed Bike: {{ refurb.name }} {% if refurb.available %}- £{{ refurb.price }}{% endif %}</h3>
        {% if refurb.available %}
          {% if refurb.altPrice %}({{ refurb.altPrice}}){% endif %}
        {% else %}
          <span class="font-bold">Note:</span> This bike is no longer available
        {% endif %}
        <div class="mt-4">{{ refurb.description | safe }}</div>
      </div>
      <div class="md:w-60 text-base my-4 md:my-0 mx-auto md:ml-8 text-center leading-snug">
        <div class="bg-neutral-300 rounded-sm p-4">
          <a class="font-bold text-df-blue" href="/contact/">Contact us</a> if interested in {{ "this bike" if refurb.available else  "other refurbed bikes" }}, or if you'd like to donate a bike to be refurbished.
        </div>
      </div>
    </div>
    <h3 class="text-center font-bold text-2xl mb-4 mt-4">Photo Gallery<h2>
    <ul class="list-style-none grid grid-col-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
    {% for image in refurb.images %}
      <li class="aspect-square overflow-hidden">{% image image.url, refurb.name %}</li>
    {% endfor %}
    </ul>

    <h3 class="text-center mt-12 font-bold text-2xl mb-4">Contact us</h3>
    <div class="my-8">
      {% include  'src/_includes/layouts/includes/contactLinks.njk' %}
    </div>
  </div>
</section>
{% endblock %}
