<section class="w-full overflow-hidden h-48 sm:h-42 md:h-56 lg:h-72 3xl:h-96 relative">
  <div class="w-full h-full md:absolute md:top-1/2 md:-translate-y-1/2 vintage-banner flex">
  {% if bannerSrc %}
    {% bannerImage bannerSrc, banner.alt %}
  {% endif %}
  </div>
  <div class="w-full h-full absolute top-0 left-0 flex flex-col items-center justify-end bg-gradient-to-b from-df-tan via-df-tan/70 to-df-tan/80 items-end">
    {% if bannerSubtitle %}
    <span class="font-df uppercase text-lg md:text-xl lg:text-2xl">{{ bannerSubtitle }}</span>
    {% endif %}
    <h1 class="w-full px-2 lg:px-4 flex justify-center text-center mb-4 lg:mb-8 text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-shadow font-df-sans text-df-orange font-black uppercase">
      {{ bannerTitle | safe }}
    </h1>
  </div>
</section>
{% if crumbsJSON %}
<div class="bg-df-black-light -mt-[1vw] -skew-y-[1deg] h-[3vw] min-h-[30px] max-h-[40px] flex flex-col justify-center items-center px-2 lg:px-4">
  <div class="max-w-7xl w-full -skew-x-[1deg]">
    {% crumbs crumbsJSON %}
  </div>
</div>
{% endif %}
