<div class="md:w-60 text-base my-4 md:my-0 mx-auto md:ml-8 text-center leading-snug">
  <div class="flex md:flex-col items-center px-3 py-4 bg-neutral-300 rounded-sm">
    <a href="https://www.cytech.training/" class="mr-8 md:mr-0" nofollow>{% image 'src/static/logos/cytechlogo.png', 'CyTech', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'w-60 md:w-full md:mb-2' %}</a>
All works completed by a CyTech Certified Technician 
  </div>
</div>
