{% set secondaryNavPages = collections.secondary | eleventyNavigation %}
{% set tertiaryNavPages = collections.tertiary | eleventyNavigation %}

<footer class="text-center text-df-gray">
    <div class="mx-2 lg:mx-4 py-6 my-6 border-t-4 border-double border-df-gray">
        <div class="max-w-prose mx-auto flex flex-col">
            <h3 class="font-df-sans font-black uppercase text-2xl tracking-wide mb-2">Quality Customer Service</h3>
            <p class="text-lg leading-6 text-justify-center">We're always up for talkin' bikes, adventure, and gear. Give us a ring or schedule a chat over a great cup of coffee / pint of beer. We're thrilled to learn what you're looking for and how we&nbsp;can&nbsp;help.</p>
            <div class="mt-8">
                <a class="cta" href="{{ '/contact/' | url }}">Let's Chat</a>
            </div>
        </div>
    </div>
    <div class="mx-2 lg:mx-4 py-4 pt-4 pt-6 pb-6 mt-6 mb-6 border-t-4 border-double border-df-gray">
        <div class="mx-auto flex flex-col">
            <h3 class="font-df-sans font-black uppercase text-2xl tracking-wide">Genuine Goods</h3>
            <ul class="list-style-none mt-8 w-full flex justify-center items-center h-8 md:h-14">
                <li>
                    {% image 'src/static/logos/shimano.png', 'Shimano', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-8 md:h-14 w-auto' %}
                </li>
                <li>
                    {% image 'src/static/logos/dtswiss.png', 'DT Swiss', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-8 md:h-14 w-auto' %}
                </li>
                <li>
                    {% image 'src/static/logos/maxxis.png', 'Maxxis', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-8 md:h-14 w-auto' %}
                </li>
                <li>
                    {% image 'src/static/logos/surly.png', 'Surly', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-8 md:h-14 w-auto' %}
                </li>
                <li>
                    {% image 'src/static/logos/whiskypartsco.png', 'Whisky', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-8 md:h-14 w-auto' %}
                </li>
                <li>
                    {% image 'src/static/logos/parktool.png', 'Park Tool', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-8 md:h-14 w-auto' %}
                </li>
                <li>
                    {% image 'src/static/logos/thule.jpeg', 'Thule', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-8 md:h-14 w-auto' %}
                </li>
                <li>
                    {% image 'src/static/logos/schwalbe.png', 'Schwalbe', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-8 md:h-14 w-auto' %}
                </li>
            </ul>
        </div>
    </div>
    <div class="mx-2 lg:mx-4 py-4 py-6 my-6 border-t-4 border-double border-df-gray ">
        <div class="text-lg max-w-6xl mx-auto flex flex-col lg:flex-row justify-between items-center lg:items-start opacity-80">
            <ul class="grid grid-rows-1 grid-flow-col auto-cols-min gap-4 mb-4 lg:mb-0 whitespace-nowrap">
                <li class="lg:h-full">
                    <a href="https://www.komoot.com/user/{{ metadata.social.komoot }}" title="Komoot - {{ metadata.social.komoot }}" class="h-full flex items-center">{% svgIcon 'src/assets/icons/socialKomoot.svg', 'fill-df-gray w-5' %}</a>
                </li>
                <li class="lg:h-full">
                    <a href="https://www.instagram.com/{{ metadata.social.instagram }}/" title="Instagram - @{{ metadata.social.instagram }}" class="h-full flex items-center">{% svgIcon 'src/assets/icons/socialInstagram.svg', 'fill-df-gray w-5' %}</a>
                </li>
                <li class="lg:h-full">
                    <a href="https://twitter.com/{{ metadata.social.twitter }}" title="Twitter - @{{ metadata.social.twitter }}" class="h-full flex items-center">{% svgIcon 'src/assets/icons/socialTwitter.svg', 'fill-df-gray w-5' %}</a>
                </li>
                <li class="lg:h-full">
                    <a href="https://wa.me/message/{{ metadata.social.whatsapp }}" title="WhatsApp - {{ metadata.social.whatsapp }}" class="h-full flex items-center">{% svgIcon 'src/assets/icons/socialWhatsApp.svg', 'fill-df-gray w-5 h-5' %}</a>
                </li>
                <li class="lg:h-full">
                    <a href="tel:{{ metadata.contact.phone }}" title="Phone - {{ metadata.contact.phone }}" class="h-full items-center">{% svgIcon 'src/assets/icons/socialPhone.svg', 'fill-df-gray w-5 h-5' %}</a>
                </li>
                <li class="lg:h-full">
                    <a href="mailto:{{ metadata.contact.email }}" title="Email - {{ metadata.contact.email }}" class="h-full items-center">{% svgIcon 'src/assets/icons/socialEmail.svg', 'fill-df-gray w-6 h-6' %}</a>
                </li>
            </ul>
            <ul class="grid grid-rows-2 sm:grid-rows-1 grid-flow-col auto-cols-min gap-x-6 gap-y-4 justify-center mb-4 lg:mb-0">
                {%- for item in secondaryNavPages -%}
                <li><a class="whitespace-nowrap text-center" href="{{ item.url | url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="mb-4 mt-8 max-w-6xl mx-auto flex flex-col sm:flex-row justify-between items-center">
            <ul class="grid grid-rows-1 grid-flow-col gap-8 mb-12 md:mb-0 grayscale opacity-80">
                <li>
                    <a href="https://www.cytech.training/">
                        {% image 'src/static/logos/cytechlogo.png', 'CyTech', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-12 md:h-20 w-auto' %}
                    </a>
                </li>
                <li>
                    <a href="https://www.cycleassociation.uk/">
                        {% image 'src/static/logos/actlogo.png', 'Association of Cycle Traders', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-12 md:h-20 w-auto' %}
                    </a>
                </li>
            </ul>
            <div class="flex items-center text-right text-sm md:text-base opacity-80">
                <span>Made in Aberfeldy, Scotland<br>Website by Brett DeWoody</span>
                {% svgIcon 'src/assets/icons/scotland.svg', 'w-20 sm:w-24 lg:w-28 fill-df-gray' %}
            </div>
        </div>
        <div class="text-sm max-w-6xl mx-auto flex flex-col lg:flex-row justify-center items-center mt-16 opacity-80">
            <ul class="grid grid-flow-row sm:grid-flow-col auto-cols-min gap-x-6 sm:gap-y-2 justify-center mb-4 lg:mb-0">
                {%- for item in tertiaryNavPages -%}
                <li><a class="whitespace-nowrap text-center" href="{{ item.url | url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="flex justify-center text-sm opacity-80 mt-8">
            <ul class="list-style-none grid grid-flow-row sm:grid-flow-col auto-cols-min whitespace-nowrap gap-x-4 gap-y-2">
                <li>&copy; {% year %} {{ metadata.company.name }}</li>
                <li>
                    <a href="https://find-and-update.company-information.service.gov.uk/company/{{ metadata.company.number }}">Company #{{ metadata.company.number }}</a></li>
                {% if metadata.company.vat  %}<li>VAT #{{ metadata.company.vat }}</li>{% endif %}
            </ul>
        </div>
    </div>
</footer>
