<footer class="text-center text-stone-100">
    <div class="bg-df-blue px-4 lg:px-8 pt-4 pt-12 lg:pt-20 pb-12">
        {# <div class="mb-4 mt-8 max-w-6xl mx-auto flex flex-col sm:flex-row justify-between items-center opacity-90">
            <ul class="grid grid-rows-1 grid-flow-col gap-4">
                <li>Company #{{ metadata.company.number }}</li>
                {% if metadata.company.vat  %}<li>VAT #{{ metadata.company.vat }}</li>{% endif %}
            </ul>
            <div class="flex items-center text-right">
                <span>Crafted in Aberfeldy, Scotland<br>by Brett DeWoody</span>
                {% svgIcon 'src/assets/icons/scotland.svg', 'w-16 sm:w-20 lg:w-28 fill-white' %}
            </div>
        </div>
        <div class="text-sm max-w-6xl mx-auto flex flex-col lg:flex-row justify-between mt-16 opacity-90">
            <ul class="grid grid-cols-2 sm:grid-cols-4 gap-y-4 justify-center order-1 lg:order-2 mb-4 lg:mb-0">
                <li><a class="mx-2 sm:mx-4" href="/accessibility/">Accessibility</a></li>
                <li><a class="mx-2 sm:mx-4" href="/privacy-policy/">Privacy Policy</a></li>
                <li><a class="mx-2 sm:mx-4" href="/terms-and-conditions/">Terms & Conditions</a></li>
            </ul>
        </div> #}
        <div class="text-sm text-center opacity-90 mt-8 pb-20">
            &copy; {% year %} {{ metadata.company.name }}<br/>
        </div>
    </div>
</footer>
