<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageContent.seo.title or pageContent.title or title or renderData.title or metadata.title }} | {{ metadata.title }}</title>
    <link rel="preload" href="/static/fonts/jost.woff2" as="font" type="font/woff2" crossorigin>

    <style>
      @font-face {
        font-family: 'Jost';
        src: url('/static/fonts/jost.woff2') format('woff2 supports variations'),
            url('/static/fonts/jost.woff2') format('woff2-variations');
        font-weight: 100 900;
        font-display: swap;
      }
    </style>

    <!-- CSS -->
    {% set css %}
    {% include "_site/css/styles.css" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>

    <meta name="generator" content="Eleventy">
    <meta name="Description" content="{{ description or renderData.description or metadata.description }}">
    <link rel="canonical" href="{{ env.url }}{{ page.url }}" />
    <meta property="og:title" content="{{ title or renderData.title or metadata.title }}" />
    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:description" content="{{ description or renderData.description }}" />
    <meta property="og:image" content="/static/img/logo.png" />
    <meta property="og:type" content="article" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <script async>
      if ('serviceWorker' in navigator) {
		    window.addEventListener('load', () => {
			    navigator.serviceWorker.register("/sw.js");
		    });
      }
    </script>
  </head>
