<header>
  <h1 class="home">
    <a href="{{ '/' | url }}">
      {% set logoSrc %}
        {% imageUrlFor metadata.logo.asset._ref, 600 %}
      {% endset %}
      {% image logoSrc, metadata.logo.alt, "(min-width: 30em) 50vw, 100vw"  %}
    </a>
  </h1>
  <nav>
    <ul class="nav flex">
      {%- for nav in collections.nav | reverse -%}
      <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
        <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </nav>
</header>