<!doctype html>
<html lang="en" class="text-pg-blue-dark">
  {% include './head.njk' %}
  <body class="bg-pg-tan-light">
    {% include './header.njk' %}
    {% block banner %}{% endblock %}
    {% block subheader %}{% endblock %}
    <main>
      {% block content %}{% endblock %}
    </main>
    {% include './footer.njk' %}
  </body>
  <script>
    const linkBoxes = () => {
      const boxes = document.querySelectorAll(".card");

      boxes.forEach((box) => {
        const link = box.querySelector("a");
        if (link) {
          const url = link.getAttribute("href");
          const clickHandler = link.onclick;
          box.addEventListener("click", () => {
            if (clickHandler) {
              clickHandler();
            } 
            
            location.href = url;
            link.preventDefault;
          });
          box.classList.add("linked");
          link.addEventListener("focus", () => {
            box.classList.add("isfocused");
          });
          link.addEventListener("blur", () => {
            box.classList.remove("isfocused");
          });
        }
      })
    };

    document.addEventListener("DOMContentLoaded", () => {
      if ("querySelector" in document) {
        linkBoxes();
      }
    });
  </script>
</html>
