{% extends 'layouts/base/index.njk' %}

{% set bannerSrc = bannerImage %}
{% set bannerTitle = title %}

{% set crumbsJSON = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}

{% block banner %}
  {% include 'src/_includes/layouts/includes/bannerSmall.njk' %}
{% endblock %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-7xl w-full py-12 lg:py-20">
      <div class="parent-description">
        {{ content | md | safe }}
      </div>
    </div>
  </section>
{% endblock %}
