---
layout: layouts/page.njk
bannerImage: src/static/images/banner-local.jpg
title: Education Courses
tags:
  - main
eleventyNavigation:
  parent: Local
  key: Courses
  title: Education Courses
  crumb: Courses
  order: 1
---

_**Educational courses on bike maintenance**_

Cycle service education is a key part of our mission to empower people to maintain and repair their bikes. We offer a range of courses to help you learn how to maintain your bike, diagnose problems, and fix common issues. And our courses are designed to be accessible to everyone, regardless of your experience level.

Subscribe to [our newsletter](/newsletter/) to be notified of upcoming courses, and become a [member](/membership/) to get discounts on courses.

## Upcoming Courses
<ul class="list-none grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 md:gap-x-10">
{% for course in collections.courses %}
  <li class="text-lg">
    <h5 class="font-df-sans uppercase font-bold mb-0 pb-0 leading-4">{{ course.data.title }}</h5>
    <small><strong>Next:</strong> {{ course.data.course.startDate | htmlDateString('E d LLL') }}</small>
    <p>{{ course.data.course.summary }}</p>
    <a href="{{ course.url }}" class="text-primary hover:text-primary-dark">Learn More</a>
  </li>
{% endfor %}
</ul>

## Future Courses

<p class="text-center text-base max-w-prose mx-auto">Don't see a course you're interested in? We hold a variety of courses throughout the year, so check back often, or <a href="/newsletter/">subscribe</a>, for new courses.</p>

- **Fix-a-Flat** - the most common issue for most bikes
- **On-a-Ride Maintenance** - learn how to ensure your bike is ready to ride, how to fix common problems you'll encounter during a ride, and what to do after a ride to ensure your bike stays in great condition.
- **Brake Servicing** - Learn to diagnose common problems and maintain your bike's brakes. This course is a hands-on course so bring your bike if desired.
- **Drivetrain Servicing** - The ins-and-outs of keeping the drivetrain (gears, chains, cranks) of your bike working smoothly.
- **Wheel Workshop** - Ensuring your wheels are working well can dramatically improve the ride of your bike. 
- **Wheel Building** - Build a wheel from the hub up.

<div class="my-8 lg:my-12">
  <h2 class="mb-4">Become a member. Get Discounts on Courses</h2>
  {% include 'src/_includes/layouts/includes/membership-small.njk' %}
  </div>

