<ul class="list-disc ml-4 pl-2 routeslist" style="counter-reset: start-from {{ routeslist.length + 1 }}">
  {% for route in collections.routes | reverse %}
    {% set currentRoute = route.data.route %}
    <li class="routelist-item{% if route.url == url %} routelist-item-active{% endif %}">
      <a href="{{ route.url | url }}" class="routelist-link">{{ currentRoute.title }}</a>
      <p class="routelist-excerpt">{{ currentRoute.excerpt | blocksToHTML | safe }}</p>
    </li>
  {% endfor %}
</ul>
