{% extends 'layouts/base/index.njk' %}

{% if banner %}
{% set bannerSrc %}
  {% imageBannerUrlFor banner, 2000 %}
{% endset %}
{% endif %}

{% set bannerTitle = "News" %}

{% set crumbsJSON = collections.news | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: false }) %}

{% block banner %}
  {% include 'src/_includes/layouts/includes/bannerSmall.njk' %}
{% endblock %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-7xl w-full mt-8 sm:mt-12 lg:mt-16">
      <h1 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-bold text-center mb-4 lg:mb-8 italic">{{article.title | safe }}</h1>
      <div class="flex flex-col md:flex-row">
        <div class="order-2 md:order-1 parent-description w-full max-w-prose">
          {{ article.content | safe }}
        </div>
        <div class="order-1 md:order-2 md:ml-12 w-full md:w-60 text-base my-4 md:my-0 mx-auto md:ml-8 leading-snug">
          <div class="text-center px-3 py-4 bg-neutral-300 rounded-sm">
            <h3 class="font-bold mb-3">{{ article.cta.title }}</h3>
            <div class="mb-4">{{ article.cta.text | safe }}</div>
            <a class="cta small" href="{{article.cta.buttonLink}}">{{article.cta.buttonText}}</a>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
