{% extends 'layouts/base/index.njk' %}

{% if banner.ref %}
{% set bannerSrc %}
  {% imageBannerUrlFor banner.ref, 2000 %}
{% endset %}
{% endif %}

{% set bannerTitle = title %}
{% set bannerSubTitle = parentTitle %}
{% set crumbsJSON = collections.shop | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}

{% block banner %}
  {% include 'src/_includes/layouts/includes/bannerSmall.njk' %}
{% endblock %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-7xl w-full py-20">
      <div class="pageContent">
        {{ subcategory.body | safe }}
      </div>
      <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-2 md:gap-4 lg:gap-8">
      {% for product in collections.products | categoryFilter(eleventyNavigation.key) %}
        <li data-type="card" class="bg-white pt-2 pb-1 px-2 rounded-sm relative flex flex-col overflow-hidden">
          <a class="block w-full text-center font-df-sans font-bold uppercase text-2xl text-df-orange py-1" href="{{ product.url }}">
            {{ product.data.title }}
          </a>
          <div class="aspect-video mt-auto">
          {% if product.data.options[0].images[0] %}
            {% image product.data.options[0].images[0], product.data.title, "(min-width: 640px) 100vw, 50vw", null, 'eager', null, [1500, 1000], 'object-cover w-full' %}
          {% endif %}
          </div>
          <div class="text-center font-df uppercase text-sm text-df-gray py-1">
            {{ product.data.oneLiner }}
          </div>
        </li>
      {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
