@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body.navOpen {
  @apply h-screen overflow-hidden;
}

header.open,
header.open.stuck {
  @apply h-screen bg-pg-blue-dark;
}

header.open #navbar {
  @apply grow;
}

header.open #social {
  @apply grid;
}

header.stuck {
  @apply fixed top-0 bg-pg-blue-dark;
}

.logo-item-active {
  @apply lg:bg-tread-white lg:bg-bottom lg:bg-repeat-x lg:bg-[length:auto_6px];
}
.nav-item-active {
  @apply bg-tread-white bg-bottom bg-no-repeat lg:bg-repeat-x bg-[length:auto_6px];
}

.divider {
  @apply bg-tread bg-bottom bg-repeat-x h-2 mt-4 mb-4;
}

.divider.short {
  @apply bg-[length:auto_6px];
}

h1 {
  @apply font-bold text-4xl lg:text-5xl;
}

.form-field {
  @apply flex flex-col lg:flex-row lg:items-center w-full max-w-md lg:max-w-2xl mb-4 mt-4;
}

.form-field label {
  @apply text-lg font-bold lg:w-32 mb-3 lg:mb-0;
}

.form-field input {
  @apply h-11 bg-pg-tan/[.1] text-lg px-2 border-b border-pg-tan-light/[.4] grow;
}

.route-card {
  @apply w-full flex max-w-sm aspect-square justify-self-center relative rounded-lg overflow-hidden bg-pg-blue-dark px-4 py-6 text-white shadow-md shadow-neutral-400 after:absolute after:top-0 after:left-0 after:w-full after:aspect-square after:bg-pg-blue-dark/[.3];
}

.metrics {
  @apply flex justify-between;
}

.metrics > div {
  @apply flex flex-col;
}

.metrics > div > span:first-child {
  @apply text-xs;
}

.linked {
  @apply cursor-pointer;
}

.description {
  @apply flex flex-col items-center;
}

.description p,
.description ul,
.description .file-wrapper {
  @apply text-lg block w-full max-w-2xl my-2 leading-8 text-left;
}

.description p a {
  @apply underline font-medium text-pg-blue-dark;
}

.description h2 {
  @apply text-2xl font-medium;
}

.description ul {
  @apply list-disc ml-8 pl-2;
}

.description a {
  @apply text-lg inline-block self-start;
}

.videoWrapper,
.description .videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
  margin-bottom: 2rem;
}

.videoWrapper iframe,
.description .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Modal */
.modal {
  transition: opacity 0.25s ease;
}

body.modal-active {
  overflow: hidden;
}

/* Image block */
.image {
  @apply text-center my-8 italic;
}

.image img {
  @apply mb-3 w-full;
}

/* Mapbox Styling */
.marker {
  @apply relative -mt-6 overflow-visible bg-pg-blue-dark p-1 rounded after:border-x-8 after:w-0 after:h-0 after:absolute after:-bottom-[0.5rem] after:left-1/2 after:-ml-2 after:border-x-transparent after:border-t-8 after:border-t-pg-blue-dark;
}
.marker svg {
  @apply fill-pg-tan-lightest w-4 h-4;
}

.popup-rating {
  @apply text-xs uppercase;
}

.popup-title {
  @apply font-semibold;
}

.popup-beta {
  @apply grid grid-cols-3 mt-3;
}

.popup-beta > div > div:first-child {
  @apply text-xs;
}

.popup-beta > div > div:last-child {
  @apply whitespace-nowrap;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  @apply border-b-pg-blue-dark !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  @apply border-r-pg-blue-dark !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  @apply border-t-pg-blue-dark !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  @apply border-l-pg-blue-dark !important;
}

.mapboxgl-popup-content {
  @apply w-60 bg-pg-blue-dark text-pg-tan-lightest text-base p-4 !important;
}

.mapboxgl-popup-close-button {
  @apply absolute top-0 right-2 w-4 h-2 !important;
}
