@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  @apply subpixel-antialiased;
}

body.navOpen {
  @apply h-screen overflow-hidden;
}

header.open,
header.open.stuck {
  @apply bg-df-tan h-screen bg-df-tan;
}

header.open #navbar {
  @apply grow;
}

header.open #nav {
  @apply overflow-scroll;
}

header.open #social {
  @apply grid;
}

header.stuck {
  @apply bg-df-tan h-16 border-b border-df-gray/25;
}

header.stuck #nav {
  @apply sm:-translate-y-12;
}

header.stuck #logobar {
  @apply sm:scale-[50%] lg:scale-[38%];
}

.logo-item-active {
  
}

.nav-item:hover > a,
.nav-item:focus-within > a {
  @apply border-double border-df-gray z-40;
}

.nav-item:hover > .subnav,
.nav-item > a:hover + .subnav,
.nav-item:focus-within > .subnav {
  @apply flex border-df-gray;
}

.nav-item-active {
  
}

/* Images */
.vintage {
  @apply sepia-[.75] grayscale contrast-150 blur-[0.5px];
}

.shape-tire {
  shape-outside: circle(75% at 80% 90%);
}
.shape-ellipse {
  shape-outside: ellipse(40px 50px at 50% 50%);
}

.hide {
  @apply opacity-0;
}

/* Utility Styles */
.text-shadow {
  letter-spacing: 3px;
  -webkit-text-stroke: 2px #000000;
  text-shadow: -1px 0px 0 #000000, -1px 1px 0 #000000;
}

.text-justify-center {
  text-align-last: center;
  @apply text-justify;
}

.cta {
  @apply h-[1.8em] inline-flex items-center font-df-sans font-bold text-lg lg:text-2xl pl-[0.5em] pr-[0.25em] pt-[0.2em] uppercase relative bg-df-blue text-white whitespace-nowrap transition-colors duration-100;
}

.cta:hover {
  @apply bg-df-blue-dark;
}

.cta.large {
  @apply text-2xl lg:text-4xl;
}

.cta.small {
  @apply text-sm  lg:text-base;
}

.cta.xsmall {
  @apply text-sm;
}

.cta:after {
  content: '';
  width: 0; 
  height: 0; 
  font-size: inherit;
  border-top-color: transparent;
  border-bottom-color: transparent;
  
  @apply absolute -right-[0.7em] -top-[0.4em] border-t-[1.3em] border-b-[1.3em] border-l-[0.75em] border-l-df-blue transition-colors duration-100;
}

.cta:hover:after {
  /* animation-name: animateCTA;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal; */
  @apply border-l-df-blue-dark;
}

@keyframes animateCTA {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(0.5em);
  }
}

/* Mapbox Styling */
.marker {
  @apply relative -mt-6 overflow-visible bg-df-blue-dark p-1 rounded after:border-x-8 after:w-0 after:h-0 after:absolute after:-bottom-[0.5rem] after:left-1/2 after:-ml-2 after:border-x-transparent after:border-t-8 after:border-t-df-blue-dark;
}

.marker svg {
  @apply w-4 h-4;
}

.popup-rating {
  @apply text-xs uppercase;
}

.popup-title {
  @apply font-semibold;
}

.popup-beta {
  @apply grid grid-cols-3 mt-3;
}

.popup-beta > div > div:first-child {
  @apply text-xs;
}

.popup-beta > div > div:last-child {
  @apply whitespace-nowrap;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  @apply border-b-df-blue-dark !important;
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  @apply border-r-df-blue-dark !important;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  @apply border-t-df-blue-dark !important;
}

.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  @apply border-l-df-blue-dark !important;
}

.mapboxgl-popup-content {
  @apply w-60 bg-df-blue-dark text-base p-4 !important;
}

.mapboxgl-popup-close-button {
  @apply absolute top-0 right-2 w-4 h-2 !important;
}
