---
layout: layouts/page.njk
bannerImage: src/static/images/banner-new.jpg
title: New Bikes
tags:
  - main
eleventyNavigation:
  parent: Bikes
  key: New 
  title: New Bikes
  order: 3
---

_**Few things in life beat a new bike**_

Looking for a new ride? We supply a range of new bikes for a variety of riding styles, from kids to road, touring, mtb, e-bikes and more. Purchasing a bike from {{ metadata.title }} means your bike will be professionally inspected before delivery and your first tune-up is included. 

[Contact us](/contact/) if you're looking for a new ride as we have relationships with a number of bike manufacturer with a range of bike types. 

{% include  'src/_includes/layouts/includes/contactLinks.njk' %}

<ul>
  {% for subcategory in productSubcategories | categoryFilter('386217e7-5aca-4b9f-9ca4-8699deb43002') %}
  <li class="md:flex {% if loop.index % 2 == 0 %}md:flex-row-reverse{% endif %} mb-8">
  <div class="w-full md:w-3/5 aspect-video flex vintage-banner">
  {% if subcategory.banner.ref %}
  {% set imageSrc %}
    {% imageBannerUrlFor subcategory.banner.ref, 1000 %}
  {% endset %}
  {% image imageSrc, subcategory.title, "(min-width: 640px) 100vw, 50vw", null, 'eager', null, [600, 1000], 'object-cover h-full' %}
  {% endif %}
  </div>
  <div class="md:w-2/5 px-8 flex flex-col justify-center">
    <h3 class="font-bold text-xl">{{ subcategory.title }} Bikes</h3>
    <p>{{ subcategory.oneLiner | safe }}</p>
    <!-- <a class="md:w-3/4  cta" href="{{ subcategory.url }}">
      View {{ subcategory.data.title }} bikes
    </a> -->
  </div>
  </li>
  {% endfor %}
</ul>

