{% extends 'layouts/base/index.njk' %}

{% set crumbsJSON = collections.brands | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
{% set bannerTitle = title %}
{% set bannerSrc = 'src/static/images/banner-brands.jpg' %}

{% block banner %}
  {% include 'src/_includes/layouts/includes/bannerSmall.njk' %}
{% endblock %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-7xl w-full py-20">
      <div class="pageContent">
        <p> We believe in the brands we sell, and rely on them ourselves. The brands below make quality gear that we highly recommend. Click a brand to learn more.</p>
      </div>
      <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 sm:gap-8 lg:gap-12">
        {% for brand in brands %}
        {% set imageSrc %}
            {% imageUrlFor brand.logo.ref, 900 %}
        {% endset %}
        <li class="flex justify-center items-center px-8 sm:px-0">
            {# <a href="{{ brand.url }}" title="{{ brand.data.title }}"> #}
                {% image imageSrc, brand.logo.alt, "(max-width: 640px) 100vw, 50vw", null, 'eager', null, [600, 900], 'w-full h-auto' %}
            {# </a> #}
        </li>
        {% endfor %}
      </ul>
      <p class="max-w-md mx-auto text-sm mt-8 text-center">Looking for a brand you don't see above? We have relationships with a range of other brands we can order from. Please <a class="font-bold text-df-blue hover:underline" href="/contact/">get in touch</a> if you're looking for something else.</p>
    </div>
  </section>
{% endblock %}
