{% extends 'layouts/base/index.njk' %}

{%- set pageContent = pages | getPage(pageID) -%}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-6xl w-full py-20">
      <div class="description">
        {{ pageContent.content | blocksToHTML | safe }}
      </div>
    </div>
  </section>
{% endblock %}
