{% extends 'layouts/base/index.njk' %}

{% if brand.banner.ref %}
{% set bannerSrc %}
  {% imageBannerUrlFor brand.banner.ref, 2000 %}
{% endset %}
{% endif %}
{% set logoSrc %}
  {% imageUrlFor brand.logo.ref, 600 %}
{% endset %}

{% set crumbsJSON = collections.brands | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
{% set logoAlt = title %}

{% block banner %}
  {% include 'src/_includes/layouts/includes/bannerLarge.njk' %}
{% endblock %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-7xl w-full mt-8 sm:mt-12 lg:mt-16">
      <div class="text-base sm:text-lg lg:text-3xl text-center -mt-1 max-w-prose mx-auto leading-relaxed mb-8 lg:mb-16">
        {{ brand.intro | safe }}
        <a href="#info">Read More</a>
      </div>
      <h2 class="clear-both text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-shadow text-df-orange font-black uppercase text-center -rotate-3 -skew-x-3 mb-4 lg:mb-8 font-df-sans">Products</h2>
      <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-4 lg:gap-8">
      {% for product in collections.products | brandFilter(brand.id) %}
        <li data-type="card" class="bg-white pt-2 pb-1 px-2 rounded-sm relative flex flex-col overflow-hidden">
          <a class="block w-full text-center font-df-sans font-bold uppercase text-2xl text-df-orange py-1" href="{{ product.url }}">
            {{ product.data.title }}
          </a>
          <div class="aspect-video mt-auto">
          {% if product.data.options[0].images[0] %}
            {% image product.data.options[0].images[0], product.data.title, "(min-width: 640px) 100vw, 50vw", null, 'eager', null, [1500, 1000], 'object-cover w-full' %}
          {% endif %}
          </div>
          <div class="text-center font-df uppercase text-sm text-df-gray py-1">
            {{ product.data.oneLiner }}
          </div>
        </li>
      {% endfor %}
      </ul>
      <div class="mx-auto text-sm text-center max-w-sm mt-4">Looking for something else from {{ title }}? We'd be happy to get it in stock. Please <a class="font-bold text-df-blue" href="/contact/">get in touch</a></div>
      <div class="clear-both mt-8 lg:mt-16">
        <h2 id="info" class="pt-24 -mt-24 text-3xl sm:text-4xl md:text-5xl lg:text-6xl text-shadow font-df-sans text-df-orange font-black uppercase text-center -rotate-3 -skew-x-3 mb-4 lg:mb-8">
          About
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 lg:gap-x-16 gap-y-4">
          <div>
            <h3 class="font-bold text-center text-lg lg:text-xl">In Our Words</h3>
            <div class="text-base lg:text-lg">
              {{ brand.ourDescription | safe }}
            </div>
          </div>
          <div class="text-base lg:text-lg">
            <h3 class="font-bold text-center text-lg lg:text-xl">In {{ title }}'{% if not title.endsWith('s') %}s{% endif %} Words</h3>
            <div>{{ brand.theirDescription | safe }}</div>
            <p>Learn more on <a class="font-bold text-df-blue hover:underline" href="{{ website }}">{{ title }}'{% if not title.endsWith('s') %}s{% endif %} website</a>.</p>
          </div>
        </div>
      </div>
      <div class="flex justify-between mt-6 pt-6 font-df uppercase border-t border-df-black lg:text-2xl">
        <a class="flex items-center" href="{% if pagination.previousPageHref %}{{ pagination.previousPageHref }}{% else %}{{ pagination.lastPageHref }}{% endif %}"><span class="inline-block mr-1 text-2xl lg:text-4xl">&#8604;</span> Previous Brand</a>
        <a class="flex items-center" href="{% if pagination.nextPageHref %}{{ pagination.nextPageHref }}{% else %}{{ pagination.firstPageHref }}{% endif %}">Next Brand <span class="inline-block ml-1  text-2xl lg:text-4xl">&#8605;</span></a>
      </div>
    </div>
  </section>
  <script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Brand",
  "name": "{{ title }}",
  "review": {
    "@type": "Review",
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": "{{ brand.review.rating }}"
    },
    "name": "{{ brand.review.title }}",
    "author": {
      "@type": "Person",
      "name": "{{ brand.review.author }}"
    },
    "datePublished": "{{ brand.review.date }}",
    "reviewBody": "{{ brand.review.description }}",
    "publisher": {
      "@type": "LocalBusiness",
      "name": "{{ metadata.title | safe }}"
    }
  }
}
</script>
{% endblock %}
