{% extends 'layouts/base/index.njk' %}

{%- set pageContent = pages | getPage(pageID) -%}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-6xl w-full py-20">
      <div class="description">
        {{ pageContent.content | blocksToHTML | safe }}
      </div>
      <div>
        <ul>
          {% for brand in collections.brand_pages %}
          {% set imageSrc %}
              {% imageUrlFor brand.data.brand.logo.ref, 400 %}
          {% endset %}
          <li>
              <a href="{{ brand.url }}">
                  {{ brand.data.title }}
                  {% image imageSrc, brand.data.brand.logo.alt, "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-8 md:h-14 w-auto' %}
              </a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
