---
layout: layouts/pages/rides/rides.njk
bannerImage: src/static/images/banner-daftandslow.png
title: Social Events
tags:
  - main
eleventyNavigation:
  parent: Local
  key: Social Events
  title: Social Events
  order: 3
---

Riding with others is a great way to meet new people and explore new routes (but we also understand that some people prefer to ride alone). We have a few different type of group rides. Join our [Social Rides WhatsApp group](https://chat.whatsapp.com/IsTQ9nThuqY8kWxf4XLM4k) to be notified, or subscribe to the [Draft & Flow Flyer](/newsletter).

<div class="md:grid md:grid-cols-2 md:gap-12 xl:gap-16 divide-y-2 divide-black md:divide-transparent">
{% for ride in rides %}
<div class="py-4">
  <h2>{{ride.title}}</h2>
  <div class="text-base"><p class="text-sm">{{ ride.content | safe }}</p></div>
  {% set futureDates = ride.dates.future %}
  {% set pastDates = ride.dates.past %}
  <h3>Upcoming Rides</h3>
  <div class="grid grid-cols-1 gap-4">
  {% if futureDates.length == 0 %}
  <p class="text-center">No upcoming rides scheduled. Check back soon!</p>
  {% else %}
  {% for date in futureDates %}
  {% set latlng = date.location.lat + ',' + date.location.lng %}
  <div>
  <a href="{{date.komootCollection}}">
  <h5 class="text-lg font-medium font-df-sans uppercase">
    <span class="font-black">{{ date.startDate | htmlDateString('E d LLL HH:mm') }}</span> - {{date.title}}
  </h5>
  </a>
  <div class="text-base">{{date.description | safe}}</div>
  <div class="mt-2">
    <a href="{{date.komootCollection}}">
      <img src="{{"https://maps.googleapis.com/maps/api/staticmap?center=" + latlng + "&key=" + env.google_maps_api_key + "&size=800x200&zoom=15&scale=2&markers=color:gray%7Clabel:BwaV%7Cscale:2%7Cicon:https://draftandflow.com/static/logos/draftandflowlogo-square-icon.png%7C" + latlng}}" alt="{{date.title}}" />
    </a>
  </div>
  <div class="text-sm uppercase text-df-blue font-medium font-df-sans text-right mt-2">
    {% if date.komootCollection %}
    <a href="{{date.komootCollection}}">
      View on Komoot
    </a>
    {% endif %}
  </div>
  </div>
  {% endfor %}
  </div>
  {% endif %}
  {% if pastDates.length > 0 %}
  <h3>Past Rides</h3>
  {% for date in pastDates %}
  <h5 class="text-lg font-medium font-df-sans uppercase">
    <span class="font-black">{{ date.startDate | htmlDateString('d LLL, YYY') }}</span> - {{date.title}}
  </h5>
  {% endfor %}
  {% endif %}
</div>
{% endfor %}
</div>
</div>
