{% set ICON_SIZE = [20, 20] %}
{% set comma = joiner()%}

{
  "type": "FeatureCollection",
  "features": [
    {% if route.places.length > 0 %}
      {% for place in route.places %}
      {
        "type": "Feature",

        "geometry": {
          "type": "Point",
          "coordinates": [{{ place.location.lng }}, {{ place.location.lat }}]
        }
      }
      {{ comma() }}
      {% endfor %}
    {% endif %}
    {% if route.startFinish %}
      {
        "type": "Feature",
        
        "geometry": {
          "type": "Point",
          "coordinates": [{{ route.startFinish.location.lng }}, {{ route.startFinish.location.lat }}]
        }
      }
    {% endif %}
  ]
}
