{% extends 'layouts/base/index.njk' %}

{%- set bannerImageLg -%}
  {%- imageUrlFor route.mainImage.asset._ref, 2000 -%}
{%- endset -%}

{% set bannerTitle = route.title %}
{% set bannerSubtitle %}
  {% set delimiter = joiner(' > ') %}
  {% for crumb in collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
    <a href="{{ crumb.url }}">{{ crumb.title }}</a>
    {{ delimiter() }}
  {% endfor %}
{% endset %}

{% block banner %}
  {% if bannerImageLg %}
    {% include "../includes/bannerLarge.njk" %}
  {% endif %}
{% endblock %}

{% block subheader %}
  <div class="sticky top-12 lg:top-20 2xl:top-24 z-30 px-2 lg:px-4 w-full flex justify-center bg-pg-tan-light border-b border-bg-tan">
    <div class="relative flex items-center w-full max-w-6xl h-14">
      <button id="subnavOpen" class="flex items-center lg:hidden bg-pg-tan-lightest rounded px-4 h-11">
        {% svgIcon 'src/assets/icons/menusmall.svg', 'mr-3 h-6' %}
        Route Menu
      </button>
      <ul id="subnav" class="hidden rounded border border-pg-tan lg:border-none absolute top-12 bg-pg-tan-lightest lg:bg-inherit p-4 lg:static lg:top-0 grid grid-cols-1 gap-3 lg:flex items-center font-semibold">
        <li><a href="#overview" class="mr-14 hover:underline">Overview</a></li>
        <li><a href="#description" class="mr-14 hover:underline">Description</a></li>
        <li><a href="#routemap" class="mr-14 hover:underline">Map</a></li>
        <!--<li><a href="#gallery" class="mr-14 hover:underline">Gallery</a></li>-->
        <li><a href="#services" class="mr-14 hover:underline">Local Services</a></li>
      </ul>
      <a href="{{ route.gpx }}" download class="ml-auto iconButton inline-flex items-center rounded bg-pg-blue-dark text-pg-tan-light px-4 h-11 font-bold">
          {% svgIcon 'src/assets/icons/gpxdownload.svg', 'mr-2 h-7' %}Download GPX
        </a>
    </div>
  </div>
  <script>
    const subnavEl = document.getElementById('subnav')
    const subnavOpenEl = document.getElementById('subnavOpen')

    const toggleSubNav = () => {
      subnavEl.classList.toggle('hidden')
    }

    // Toggle subnav on toggle click
    subnavOpenEl.addEventListener('click', () => {
      toggleSubNav()
    })

    subnavEl.addEventListener('click', () => {
      subnavEl.classList.add('hidden')
    })

  </script>
{% endblock %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-6xl w-full py-20">
      <div class="flex flex-col lg:flex-row items-center lg:items-start lg:justify-between">
        <div class="flex-1 lg:pr-36">
          <h2 class="font-bold text-4xl pt-44 -mt-44" id="overview">Overview</h2>
          <div class="divider w-40"></div>
          <p>{{ route.excerpt | blocksToHTML | safe  }}</p>
          <div class="w-full grid grid-cols-2 sm:grid-cols-4 gap-10 lg:gap-4 py-10 lg:py-18">
            <div class="flex flex-col items-center">
              {% svgIcon 'src/assets/icons/distance.svg', 'w-16 mb-2' %}
              <div class="font-semibold text">Distance</div>
              <div class="font-bold text-2xl">{{ route.totalDistance }} km</div>
            </div>
            <div class="flex flex-col items-center">
              {% svgIcon 'src/assets/icons/duration.svg', 'w-16 mb-2' %}
              <div class="font-semibold text">Duration</div>
              <div class="font-bold text-2xl">{{ route.time }}</div>
            </div>
            <div class="flex flex-col items-center">
              {% svgIcon 'src/assets/icons/ascent.svg', 'w-16 mb-2' %}
              <div class="font-semibold text">Total Ascent</div>
              <div class="font-bold text-2xl">{{ route.elevationGain }} m</div>
            </div>
            <div class="flex flex-col items-center">
              {% svgIcon 'src/assets/icons/difficulty.svg', 'w-16 mb-2' %}
              <div class="font-semibold text">Difficulty</div>
              <div class="font-bold text-2xl">{{ route.category.title }}</div>
            </div>
          </div>
          
          <h3 class="text-3xl font-bold mb-4 mt-12">Route Details</h3>
          <div class="text-lg">
            <div class="mb-4">
              <div>
                <span class="font-bold">Start{%if route.sameFinish %}/Finish{% endif %}: </span><a class="underline" href="/towns/{{ route.startFinish.slug.current }}/">{{ route.startFinish.name }}</a>
              </div>
              {% if route.finish %}
                <div><span class="font-bold">Finish: </span>{{ route.finish.name }}</div>
              {% endif %}
            </div>
            <div class="mb-4">
              <div><span class="font-bold">OS Grid Ref: </span>{{ route.osgridref }}</div>
              <div><span class="font-bold">OS Landranger Map: </span>{{ route.oslandrangermap }}</div>
            </div>
            <div class="mb-4"><span class="font-bold">Terrain: </span>{{ route.terrain }}</div>
            <div class="mb-4"><span class="font-bold">Facilities: </span>{{ route.facilities }}</div>
            {% if route.keyPoints %}
            <div class="mb-4">
              <div class="font-bold">Key Points: </div>
              <ul class="list-disc ml-6">
                {% for point in route.keyPoints %}
                  <li class="mb-2">{{ point }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="bg-pg-blue-dark text-pg-tan-light w-full max-w-sm sm:max-w-none lg:w-80 rounded flex flex-initial flex-col items-center py-6 mt-12 lg:mt-0">
          <div class="font-bold text-2xl">Route Architect{% if route.authors.length > 1 %}s{% endif %} </div>
          <div class="divider short w-32"></div>
          <div class="w-full mt-2 flex flex-col sm:flex-row lg:flex-col items-center sm:justify-around">
            {% for architect in route.authors | shuffle %}
            {%- set architectImage -%}
              {%- imageUrlFor architect.image.asset._ref, 600-%}
            {%- endset -%}
              <div class="w-56 flex flex-col items-center mb-8">
                <div class="rounded-full overflow-hidden">
                  {% image architectImage, architect.name %}
                </div>
                <a href="/architects/{{ architect.slug.current }}" class="font-bold flex mt-6">
                  {{architect.name}}
                  {% svgIcon 'src/assets/icons/arrow.svg', 'ml-2 w-6' %}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="flex justify-center px-2 lg:px-4 bg-pg-tan">
    <div class="max-w-6xl w-full py-20">
      <h2 class="font-bold text-4xl pt-44 -mt-44" id="description">Route Description</h2>
      <div class="divider w-40"></div>
      <div class="description">
        {{ route.body | safe }}
      </div>
    </div>
  </section>
  <section class="flex justify-center px-2 lg:px-4 bg-pg-tan-light">
    <div class="max-w-6xl w-full py-20 flex flex-col items-center">
      <h2 class="font-bold text-4xl pt-44 -mt-44" id="routemap">Route Map</h2>
      <div class="divider w-40"></div>
      {% include './map.njk' %}
    </div>
  </section>

  {# <section class="flex justify-center px-2 lg:px-4 bg-pg-blue-dark">
    <div class="max-w-6xl w-full py-20 flex flex-col items-center">
      <h2 class="font-bold text-4xl pt-44 -mt-44 text-pg-tan-light" id="gallery">Gallery</h2>
      <div class="divider w-40"></div>
      
    </div>
  </section> #}

  <section class="flex flex-col items-center px-2 lg:px-4 bg-pg-tan">
    <div class="max-w-6xl w-full pt-20 flex flex-col">
      <h2 class="font-bold text-4xl pt-44 -mt-44" id="services">Local Services</h2>
      <div class="divider w-40"></div>
      <p>Discover and support local businesses along the route.</p>
    </div>
    <div class="max-w-7xl w-full pt-12 flex flex-col lg:flex-row mb-12">
      <div class="bg-pg-tan-lightest lg:w-3/4 pt-28 py-12 pl-4 lg:pl-12 lg:pt-12 order-2 lg:order-none">
        <div class="sm:w-3/4">
          <h4 class="font-bold text-2xl">Bike Services &amp; Rentals</h4>
          <div class="divider short w-28"></div>
          <p>If you're in need of some extra supplies, a hand with some quick bike repairs or looking to hire something new, you can rely on our trusted friends below.</p>
          <ul class="ml-6 mt-8">
            {% for service in route.bikeServices %}
              {%- set serviceIcon -%}
                {%- imageUrlFor service.types[0].icon.asset._ref, 40 -%}
              {%- endset -%}
              <li class="flex items-center mb-2">
                {% svgIcon serviceIcon, 'mr-2 w-8' %}
                {% if service.website %}
                  <a href="{{ service.website }}" class="underline">{{ service.name }}</a>
                {% else %}
                  {{ service.name }}
                {% endif %}
                  {% set comma = joiner(', ') %}
                <span class="px-2">-</span>{% for type in service.types %}{{ comma() }}{{ type.title }}{% endfor %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="w-48 h-48 lg:w-72 lg:h-72 2xl:w-96 2xl:h-96 ml-auto -mb-24 lg:mb-8 lg:my-8 lg:-ml-24 order-1 z-10 lg:order-none">
        {% image 'src/static/images/bikeservices.jpg', 'Bike Services' %}
      </div>
    </div>
    {# <div class="max-w-7xl w-full pt-12 mb-12 flex flex-col lg:flex-row">
      <div class="w-48 h-48 lg:w-72 lg:h-72 2xl:w-96 2xl:h-96 mr-auto -mb-24 lg:mb-8 lg:my-8 lg:-mr-24 z-10">
        {% image 'src/static/images/bars-restaurants.jpg', 'Bars &amp; Restaurants' %}
      </div>
      <div class="bg-pg-tan-lightest lg:w-3/4 pt-28 py-12 pl-12 lg:pt-12 flex justify-center">
        <div class="sm:w-3/5">
          <h4 class="font-bold text-2xl">Bars &amp; Restaurants</h4>
          <div class="divider short w-28"></div>
          <p>Enjoy a taste of Scotland’s best delicases, from whisky to haggis, with the many bars and restaurants to visit along The Drovers Trail.</p>
          <ul class="list-disc ml-6 mt-8">
            {% for place in route.places %}
              <li>
                {% if place.website %}
                  <a href="{{ place.website }}" class="underline">{{ service.name }}</a>
                {% else %}
                  {{ place.name }}
                {% endif %}
                 - {{ place.types.title }}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div> #}
  </section>
{% endblock %}
