---
layout: layouts/base.njk
templateClass: tmpl-route
---
<article>
  <h1>{{ route.title }}</h1>
  <p>Written by {% for author in route.authors %}{{author.name}}{% endfor %}  </p>
  {% if route.mainImage %}<img src="{% imageUrlFor route.mainImage.asset._ref, 800 %}" alt="{{ route.mainImage.alt }}">{% endif %}
  {{ route.body | markdownify | safe }}
  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>