---
layout: layouts/base.njk
templateClass: tmpl-route
---
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

<article>
  <h1>{{ route.title }}</h1>
  <p>Written by {% for author in route.authors %}{{author.name}}{% endfor %}  </p>
  {% if route.mainImage %}<img src="{% imageUrlFor route.mainImage.asset._ref, 800 %}" alt="{{ route.mainImage.alt }}">{% endif %}
  {{ route.body | markdownify | safe }}
  {{ route.gpx }}
  <p><a href="{{ '/' | url }}">← Home</a></p>
</article>

<section >
  <div id='map' style="height:75vh; width:100vw;" ></div>
  <script>

      mapboxgl.accessToken = '{{ env.mapbox_token }}';
      const map = new mapboxgl.Map({
          container: 'map',
          style: '{{ env.mapbox_style }}',
          center: {lat: 56.5405969, lon: -4.1580719 },
          zoom: 11,
          cooperativeGestures: true,
      });
      map.scrollZoom.disable();
      // Add zoom and rotation controls to the map.
      map.addControl(new mapboxgl.NavigationControl());

      {% if route.bounds %}
        map.fitBounds({{ route.bounds | dump | safe }}, {
          padding: 20
        });
      {% endif %}

      map.on('load', () => {
        map.addSource('route', {
          'type': 'geojson',
          'data': '{{ page.url }}route.geojson'
        })
        map.addLayer({
          'id': 'route',
          'type': 'line',
          'source': 'route',
          'layout': {
          'line-join': 'round',
          'line-cap': 'round'
          },
          'paint': {
          'line-color': '#ff00ff',
          'line-width': 5
          }
        });
      })
  </script>
</section>