---
layout: layouts/page.njk
bannerImage: src/static/images/banner-ebike.jpg
title: Suspension Servicing
tags:
  - main
eleventyNavigation:
  parent: Service
  key: Suspension Servicing
  title: Suspension Servicing
  order: 3
---

<div class="flex flex-col md:flex-row mx-auto">
  <div class="flex-1">
    Your suspension is one of the most important components on your bike, it's what keeps you comfortable and in control on the trail. Regular servicing is essential to keep it working as it should. The servicing schedule below applies to suspension forks, shocks, and dropper posts.
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-3 gap-x-8 gap-y-4 mt-4">
  <div class="text-center">
    <h3 class="font-bold">Every Ride</h3>
    <p class="text-lg">Help ensure your suspension continues to work well by cleaning it after every ride. Clean the exterior with mild soap and water only, then wipe dry with a soft towel.</p>
  </div>
  <div class="text-center">
    <h3 class="font-bold">Regularly</h3>
    <p class="text-lg">Every few rides, check the sag and damper settings. Inspect your suspension for visual damage, and the function of all controls.</p>
  </div>
  <div class="text-center">
    <h3 class="font-bold">Every ~125 Hours  / Yearly</h3>
    <p class="text-lg">Most manufacturers suggest a full service ~125 hours, or yearly (whichever comes first). This includes a full internal/external inspection, damper rebuild, air spring rebuild, bath oil and wiper replacement, and an air seal replacement for air shocks.</p>
  </div>
</div>

<div>
  {% include  'src/_includes/layouts/includes/contactLinks.njk' %}
</div>

<div class="my-8 lg:my-12">
  <h2 class="mb-4">Get Discounts on Servicing. Become a Member</h2>
  {% include 'src/_includes/layouts/includes/membership.njk' %}
</div>


