---
layout: layouts/page.njk
bannerImage: src/static/images/banner-newsletter.jpg
title: Draft & Flow Flyer
tags:
  - secondary
seo:
  title: Join the Draft & Flow Flyer Newsletter
  description: Subscribe for the latest offers, events and community news
eleventyNavigation:
  key: Newsletter
  title: Newsletter
  order: 3
---

_**Subscribe for discounts, events, and more**_

Get notified of discounts, events, news and more by subscribing to the {{ metadata.title }} Flyer. The weekly Flyer is the best way to stay in-the-know about our current sales, events and other happenings. 

Simply enter your email address below, click Subscribe, and then check your email for a confirmation (you'll need to confirm to complete your subscription).

<div class="flex flex-col items-center">
{% include 'src/_includes/layouts/includes/newsletterForm.njk' %}
<div class="mt-8 text-lg max-w-prose">
{% include 'src/_includes/layouts/includes/newsletterNotice.njk' %}
</div>
</div>
