---
layout: layouts/page.njk
bannerImage: src/static/images/banner-service.jpg
title: Full-Service Repairs
tags:
  - main
eleventyNavigation:
  parent: Service
  key: Full-Service Repairs
  title: Full Service Repairs
  order: 1
process:
  - title: 1. Drop-off & Inspection
    text: Drop off your bike. We'll inspect it, and if necessary, recommend any additional required servicing.
  - title: 2. Quote and Servicing
    text: For small jobs we'll get straight to work. For larger repairs, we'll let you know the total cost before starting, then get to work. If any changes to service or cost arise, we'll let you know.
  - title: 3. Pickup & Ride
    text: Pickup your bike and get ridin'. We hope to see you out on your bike soon!
services:
  - name: General
    items:
      - name: Safety Check
        price: FREE
        note: Inspection of the bike and some minor tweaks to ensure it's fit to ride. Any necessary works will be discussed.
      - name: Kids Bike Tune-up
        price: FREE
        note: Free tune-ups for children's 20"-wheeled bikes and smaller
      - name: Bike Wash
        price: £10
  - name: Wheels
    items:
      - name: Tube and/or Tyre Replacement
        price: £5
        extras: Tube and/or Tyre
      - name: Wheel Truing
        price: £10
      - name: Spoke Replacement
        price: £10
        extras: Spoke
      - name: Hub Service
        price: £12-£25
        extras: Bearings
      - name: Tubeless Topup
        price: £7.50
        includes: Sealant
      - name: Tubeless Setup
        price: £15
        includes: Sealant
      - name: Wheel Build
        price: £40
        extras: Rim, Hub, Spokes, Nipples
  - name: Brakes
    items:
      - name: Mechanical Brake Tune-up
        price: £10
      - name: MTB Brake Lever Replacement
        price: £15
        extras: Lever
      - name: Road/STI Brake Lever Replacement
        price: £20
        extras: Lever, Tape
      - name: Brake Cable Replacement
        price: £15
        includes: Brake Cable
      - name: Brake Pad Replacement
        price: £10
        extras: Pads
      - name: Hydraulic Brake Bleed
        price: £15
        includes: Brake Fluid
      - name: Hydraulic Hose Replacement
        price: £20
        extras: Hose, Fittings
  - name: Drivetrain
    items:
      - name: Gear Tune-up
        price: £10
      - name: Hanger Alignment
        price: £15
      - name: Hanger Replacement
        price: £10
        extras: Hanger
      - name: Gear Cable Replacement
        price: £20
        includes: Gear Cable
      - name: Chain Replacement
        price: £10
        extras: Chain
      - name: Cassette/Freewheel Replacement
        price: £15
        extras: Cassette or Freewheel
      - name: Chainring Replacement
        price: £15
        extras: Chainring
      - name: MTB Shifter Replacement
        price: £15
        extras: Shifter
      - name: Road/STI Shifter Replacement
        price: £20
        extras: Shifter
      - name: Derailleur Replacement
        price: £20
        extras: Derailleur
  - name: Bearings
    items:
      - name: Headset Adjustment
        price: £5
      - name: Headset Replacement
        price: £20
        extras: Headset
      - name: Headset Bearing Replacement
        price: £10
        extras: Bearings
      - name: Bottom Bracket Adjustment
        price: £20
      - name: Bottom Bracket Replacement
        price: £20
        extras: Bottom Bracket
      - name: Bottom Bracket Bearing Replacement
        price: £10
        extras: Bearings
  - name: E-bikes
    items:
      - name: Software Update
        price: £15
      - name: Configuration Update
        price: £15
      - name: Battery Capacity Test
        price: £10
        

---
<div class="flex flex-col md:flex-row mx-auto">
  <div class="flex-1">
    
  _**Tailored service to keep you ridin'**_

  You won't find one-size-fits-all bike service packages here. No two bikes have the same needs so we tailor each service based on what needs to be done. From puncture repairs to gear tuning, wheel truing and suspension rebuilds, we service all parts, all styles and all ages of bikes.

  </div>
  {% include 'src/_includes/layouts/includes/cytechcertified.njk' %}
</div>

<div class="mx-auto">

  **Our Service Process**
  <ol class="grid grid-cols-1 md:grid-cols-3 gap-4 leading-tight text-base md:text-lg -mt-4">
  {% for item in process %}
  <li class="flex flex-col">
    <h4 class="font-semibold -indent-5 ml-6">{{ item.title }}</h4>
    <div class="text-base ml-6">{{ item.text | md | safe }}</div>
  </li>
  {% endfor %}
  </ol>

  **Service & Price Guide**
  <ul class="text-sm list-disc ml-6 -mt-5 w-3/4">
    <li>Prices shown are labour estimates. Parts/components are extra and cost varies based on equipment chosen.</li>
    <li>Parts supplied and purchased from {{ metadata.title }} are warrantied</li>
    <li>If you supply your own parts a 10% surcharge on labour will be added</li>
    <li>This list is merely a guide, if your bike needs something not shown here just ask!</li>
  </ul>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-4 gap-x-12">
  {% for area in services %}
  <div class="text-base md:text-lg mt-4">
  <h4 class="font-semibold">{{ area.name }}</h4>
  <ul class="text-base">
  {% for service in area.items %}
  <li class="mb-2">
    <div class="flex justify-between">
      <span class="font-medium">{{ service.name }}</span>
      <span>{{ service.price }}</span>
    </div>
    {% if service.extras %}
  <div class="text-xs uppercase ml-2 -mt-1 text-gray-600 text-right">+ {{ service.extras | safe }}</div>
    {% endif %}
    {% if service.includes %}
  <div class="text-xs uppercase -mt-1 text-gray-600">incl {{ service.includes | safe }}</div>
    {% endif %}
    {% if service.note %}
  <div class="text-sm text-gray-700">{{ service.note | safe }}</div>
      {% endif %}
  </li>
  {% endfor %}
  </ul>
  </div>  
  {% endfor %}
  </div>
</div>

<div class="my-8 lg:my-12">
  <h2 class="mb-4">Get Discounts on Servicing. Become a Member</h2>
  {% include 'src/_includes/layouts/includes/membership-small.njk' %}
</div>
  
