---
layout: layouts/home
navtitle: Home
eleventyComputed: 
  title: "{{ metadata.tagline }}"
  description: "{{ metadata.description }}" 
---

<h1>Latest Posts</h1>

{% set routeslist = collections.routes %}
{% include "routesList.njk" %}

<p>More posts can be found in <a href="{{ '/routes/' | url }}">the archive</a>.</p>