---
layout: layouts/home
navtitle: Home
tags: 
  - nav
eleventyComputed: 
  title: "{{ metadata.tagline }}"
  description: "{{ metadata.description }}" 
---

<h1>Latest Posts</h1>

{% set routeslist = collections.routes %}
{% include "routesList.njk" %}