---
layout: layouts/route/placesGeoJSON
pagination:
  alias: route
  data: routes
  size: 1
  addAllPagesToCollections: false
permalink: routes/{{ route.slug.current | slug }}/routePlaces.geojson
---
