---
layout: layouts/routes
navtitle: Routes
permalink: /routes/
tags:
  - nav
---

<h1>Gravel Riding &amp; Bikepacking Routes</h1>

{% set routeslist = collections.routes %}
{% include "routesList.njk" %}
