{% extends 'layouts/base/index.njk' %}

{% if product.banner.ref %}
{% set bannerSrc %}
  {% imageBannerUrlFor product.banner.ref, 2000 %}
{% endset %}
{% endif %}

{% set bannerTitle = title %}
{% set crumbsJSON = collections.shop | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
{% set logoSrc %}{% imageUrlFor product.brand.logo.ref, 900 %}{% endset %}
{% set logoAlt = product.brand.logo.alt %}
{% set tertiaryTitle = oneLiner %}

{% block banner %}
  {% include 'src/_includes/layouts/includes/bannerLarge.njk' %}
{% endblock %}

{% block content %}
  <section class="flex flex-col items-center px-2 lg:px-4 py-4 -mt-4 bg-white">
    <div class="max-w-7xl w-full pt-20 grid grid-cols-1 md:grid-cols-2 md:grid-rows-[50px_min-content] gap-y-4 md:gap-x-12 lg:gap-x-20">
      <div class="order-2 md:order-1 md:row-span-2">
        <div>
          {% if options[0].images[0] %}
            {% image options[0].images[0], title, "(min-width: 640px) 100vw, 50vw", null, 'eager', null, [1500, 1000], 'object-cover w-full' %}
          {% endif %}
        </div>
        <ul class="grid grid-cols-4 gap-4">
          {% if options.length > 1 %}
          {% for option in options %}
            {% for image in option.images  %}
            <li>
              {% image image, option.name, "(min-width: 640px) 100vw, 50vw", null, 'eager', null, [200, 400], 'object-cover w-full' %}
            </li>
            {% endfor %}
          {% endfor %}
          {% endif %}
        </ul>
        <a href="/brands/{{ brand.slug }}/">
            {% image logoSrc, brand.logo.alt, "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-8 md:h-14 w-auto' %}
        </a>
      </div>
      <h2 class="text-3xl font-bold font-df-sans uppercase order-1 md:order-2 md:row-span-1 leading-7">
        <span class="block lg:inline text-zinc-500">{{ brand.name }}</span> {{ title }}
      </h2>
      <div class="order-3 md:order-3 md:row-span-1">
        {{ body | safe }}
      </div>
    </div>
    <ul>
      {% for option in options %}
        <li>
          {% for sku in option.skus %}
          {{ sku |dump }}
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
