{% extends 'layouts/base/index.njk' %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-6xl w-full py-20 mt-20">
      <div class="min-h-48 flex text-center items-center">
        <h2 class="text-xl mx-auto">We've sent you off-route, sorry! We can't find this page, please head back to the <a class="underline" href="/">homepage</a></h2>
      </div>
    </div>
  </section>
{% endblock %}
