{% extends 'layouts/base/index.njk' %}

{%- set pageContent = pages | getPage(pageID) -%}

{%- set bannerImageLg -%}
  {%- imageUrlFor pageContent.banner.asset._ref, 2000 -%}
{%- endset -%}

{% set bannerTitle = pageContent.title %}

{% block banner %}
  {% if bannerImageLg %}
    {% include "./includes/bannerSmall.njk" %}
  {% endif %}
{% endblock %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-6xl w-full py-20">
      <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
        {% for architect in collections.architects | reverse %}
          {% set currentArchitect = architect.data.architect %}
          {%- set architectImage -%}
            {%- imageUrlFor currentArchitect.image.asset._ref, 600 -%}
          {%- endset -%}
          <li class="card flex w-full items-end h-64 rounded bg-cover bg-no-repeat bg-center p-4 shadow-md shadow-neutral-400" style="background-image: url('{{ architectImage }}')">
            <a href="{{ architect.url | url }}" class="font-bold text-white text-lg">{{ currentArchitect.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endblock %}
