{% extends 'layouts/base/index.njk' %}

{% set bannerSubtitle = "Education Course" %}
{% set bannerSrc = bannerImage %}
{% set bannerTitle = title %}

{% set crumbsJSON = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}

{% block banner %}
  {% include 'src/_includes/layouts/includes/bannerSmall.njk' %}
{% endblock %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-7xl w-full mx-auto mt-8 md:mt-12 mb-8 grid grid-cols-1 sm:grid-cols-4 gap-8">
      <div class="course-content sm:col-span-2 lg:col-span-3">
        <h2 class="font-df-sans font-black text-3xl uppercase">Course: {{title}}</h2>
        <p>{{ intro | safe }}</p>
        {{ content | md | safe }}
        <h2 class="font-df-sans font-black text-3xl uppercase mt-6 ">Upcoming Dates</h2>
        {% if course.dates.length === 0 %}
        <p>Unfortunately we have no upcoming courses scheduled, but we do offer 1-on-1 training for you and your bike. Please <a href="/contact/">contact us</a> to book a 1-on-1 session to learn how to maintain your bike.</p>
        {% else %}
        <small class="block mb-2">Click a date to book your place</small>
        <ul class="list-none grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        {% for date in course.dates %}
          <li>
            <button class="checkout w-full flex flex-col border-2 border-df-orange p-4 text-center hover:bg-slate-200" data-courseId="{{course.id}}" data-courseDate="{{date.startDate | htmlDateString('Pp')}}">
              <strong class="mx-auto">{{ date.startDate | htmlDateString('E d LLLL') }}</strong>
              <strong class="mx-auto">{{ date.startDate | htmlDateString('H:mm') }} - {{ date.endDate | htmlDateString('H:mm') }}</strong>
              <small class="uppercase mx-auto">Book Now</small>
            </button>
          </li>
        {% endfor %}  
        </ul>
        {% endif %}
      </div>
      <div class="sm:col-span-2 lg:col-span-1">
        <div class="md:w-60 text-base my-4 md:my-0 mx-auto md:ml-8 text-center leading-snug">
          <div class="flex flex-col items-center px-3 py-4 bg-neutral-300 rounded-sm">
            <h4 class="font-df-sans font-bold uppercase mb-2">Want a discount?</h4>
            Become a member of the Community Cycle Workshop to receive discounts on courses, and support the workshop.<a href="/membership/" class="font-bold text-df-orange-dark hover:underline">Become a member</a>.
          </div>
        </div>
      </div>
  </section>

  {% jsbundle course.slug, true | safe %}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const checkoutButtons = document.querySelectorAll('.checkout');
      
      checkoutButtons.forEach(button => {
        button.disabled = false

        button.addEventListener('click', function() {
          const courseID = button.dataset.courseid;
          const courseDate = button.dataset.coursedate;
          button.disabled = true;
          fetch('https://api.draftandflow.com/.netlify/functions/create-stripe-checkout', {
            method: 'POST',
            mode: 'cors',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ courseID, courseDate, page: "{{metadata.url}}{{page.url}}" })
          }).then(response => {
            if (response.ok) {
              return response.json()
            }
            throw new Error('Network response was not ok.');
          }).then(data => {
            window.location.href = data.url;
          }).catch(error => {
            console.error('There was a problem with your fetch operation:', error);
          });
        });
      });
    });
  </script>
  {% endjsbundle %}

{% endblock %}
