{% extends 'layouts/base/index.njk' %}

{% set bannerSubtitle = "Education Course" %}
{% set bannerSrc = bannerImage %}
{% set bannerTitle = title %}

{% set crumbsJSON = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}

{% block banner %}
  {% include 'src/_includes/layouts/includes/bannerSmall.njk' %}
{% endblock %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-7xl w-full mx-auto mt-8 md:mt-12 mb-8 grid grid-cols-1 sm:grid-cols-4 gap-8">
      <div class="course-content sm:col-span-2 lg:col-span-3">
        <h2 class="font-df-sans font-black text-3xl uppercase">About the course</h2>
        {{ content | md | safe }}
        <h2 class="font-df-sans font-black text-3xl uppercase mt-6 mb-2">Upcoming Courses</h2>
        <ul class="list-none grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
        {% for course in courses | coursesByTitle(title) %}
          <li  class="border-2 border-df-orange p-4 text-center">{{ course.startDate | htmlDateString('E d LLLL') }}</li>
        {% endfor %}  
        </ul>
      </div>
      <div class="sm:col-span-2 lg:col-span-1">
        <div class="md:w-60 text-base my-4 md:my-0 mx-auto md:ml-8 text-center leading-snug">
          <div class="flex flex-col items-center px-3 py-4 bg-neutral-300 rounded-sm">
            <h4 class="font-df-sans font-bold uppercase mb-2">Support the workshop</h4>
            Become a member of the Community Cycle Workshop to receive discounts on courses, and support the workshop.<a href="/membership/" class="font-bold text-df-orange-dark hover:underline">Become a member</a>.
          </div>
        </div>
      </div>
  </section>
{% endblock %}
