{% extends 'layouts/base/index.njk' %}

{%- set pageContent = pages | getPage(pageID) -%}

{% set features = [
  {text: 'All Makes & Models', color: 'bg-df-black'},
  {text: 'Full Service', color: 'bg-df-orange-dark'},
  {text: 'Genuine Parts', color: 'bg-df-blue'},
  {text: 'Quality Guaranteed', color: 'bg-df-black'}
]%}

{% block content %}
  <div class="relative aspect-[3/1] mt-24 sm:mt-32 md:mt-38 lg:mt-44 w-screen flex flex-col items-center">
    <h1 class="text-center text-5xl sm:text-5xl lg:text-6xl flex flex-col sm:flex-row font-gill z-20 rotate-[-6deg] skew-x-[-10deg]">
      <span class="text-shadow text-df-orange font-bold uppercase">Service</span>
      <span class="block leading-8 font-normal sm:leading-none ml-1 mr-2 font-script -rotate-12 skew-x-12 scale-75">and</span>
      <span class="text-shadow text-df-orange font-bold uppercase">Repairs</span>
    </h1>
     <ul class="mt-6 rotate-[-6deg] skew-x-[-6deg] text-white text-center grid grid-cols-2 md:grid-cols-4 grid-flow-row auto-rows-min gap-2 uppercase text-sm lg:text-lg"> 
      {% for feature in features %}
      <li class="py-1 md:py-3 px-2 md:px-4 {{ feature.color }}">
        <span class="block opacity-80 skew-x-[-6deg]">{{ feature.text }}</span>
      </li>
      {% endfor %}
    </ul>
    <div class="w-full sepia-[.75] grayscale contrast-150 opacity-70 blur-[0.5px]">
      {% image 'src/static/images/bikes4.png', 'Service & Repairs for All Makes & Models', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, [600, 1000, 2000], 'w-full' %}
    </div>
  </div>
  <div class="mx-auto max-w-6xl px-2 lg:px-4 flex justify-end rotate-[-10deg]  -translate-y-4 md:-translate-y-12 xl:-translate-y-20">
    <blockquote class="font-script skew-x-[10deg] text-2xl md:text-4xl xl:text-6xl text-right leading-6 w-full text-gray-700">
     Top-notch service supplied, for&nbsp;whatever&nbsp;you&nbsp;ride
    </blockquote>
  </div>
  <div class="mx-auto max-w-6xl px-2 lg:px-4 flex justify-center lg:justify-end mt-8 lg:mt-0 lg:-translate-y-12">
    <a class="skew-x-[-12deg] border-double border-8 p-4 border-white bg-df-blue text-white" href="/contact/">
      <span class="block skew-x-[12deg] text-2xl">Book A Service</span>
    </a>
  </div>
  <div>
    <div class="h-[75vh] flex sticky top-48 self-start"> 
      <div class="w-1/2 h-full flex p-4 bg-zinc">
          Service & Repairs
      </div>
      <div class="flex items-center bg-white-50">
        Tools
    </div>
    </div>
    <div class="h-[75vh] flex sticky top-48 self-start"> 
      <div class="w-1/2 h-full flex p-4 bg-zinc-200">
          Parts & Components
      </div>
      <div class="flex items-center bg-white-50">
        Parts
      </div>
    </div>
    <div class="h-[75vh] flex  sticky top-48 self-start"> 
      <div class="w-1/2 h-full flex p-4 bg-zinc-400">
          Custom Builds
      </div>
      <div class="flex items-center bg-white-50">
        Frame
      </div>
    </div>
  </div>
  <div class="text-center text-3xl">
    {{ pageContent.content | blocksToHTML | safe }}
    <div>
      <h1>Bike Fixin'</h1>
    </div>
    <div>
      Custom Builds
    </div>
    <div>
      Guided Tours
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Bike Store",
  "image": [
    "https://example.com/photos/1x1/photo.jpg",
    "https://example.com/photos/4x3/photo.jpg",
    "https://example.com/photos/16x9/photo.jpg"
   ],
  "@id": "{{ metadata.url }}",
  "name": "{{ metadata.title }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ metadata.contact.address }}",
    "addressLocality": "{{ metadata.contact.city }}",
    "addressRegion": "{{ metadata.contact.region }}",
    "postalCode": "{{ metadata.contact.postalCode }}",
    "addressCountry": "{{ metadata.contact.country }}"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 56.619729,
    "longitude": -3.866270
  },
  "foundingDate": "2023-04-01",
  "founder": {
    "givenName": "Brett",
    "familyName": "DeWoody"
  },
  "url": "{{ metadata.url }}",
  "telephone": "+12122459600",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday"
      ],
      "opens": "11:30",
      "closes": "22:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "11:30",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "16:00",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Sunday",
      "opens": "16:00",
      "closes": "22:00"
    }
  ],
}
</script>
{% endblock %}
