{% extends 'layouts/base/index.njk' %}

{%- set pageContent = pages | getPage(pageID) -%}

{% set features = [
  {text: 'Repairs & Servicing', color: 'bg-df-black', link: '/bike-servicing/'},
  {text: 'Bike Hire', color: 'bg-df-orange-dark', link: '/bikes/hire/'},
  {text: 'Cycle Education', color: 'bg-df-blue', link: '/aberfeldy/courses/'},
  {text: 'Parts & Gear', color: 'bg-df-black', link: '/bike-servicing/upgrades/'}
]%}

{% block content %}
  <div class="relative aspect-[3/1] mt-24 sm:mt-36 md:mt-42 lg:mt-48 w-screen flex flex-col items-center">
    <h1 class="text-center text-3xl sm:text-4xl lg:text-5xl xl:text-6xl 2xl:text-7xl flex flex-col md:flex-row font-df-sans z-20 px-1 -rotate-3 skew-x-[-6deg] 2xl:pt-12 leading-7">
      <span class="text-shadow text-df-orange font-black uppercase px-1">Community</span>
      {# <span class="block leading-none font-normal sm:leading-none ml-1 mr-2 -mt-2 font-script -rotate-12 skew-x-12 scale-[0.65]">and</span> #}
      <span class="text-shadow text-df-orange font-black uppercase px-1">Cycle Workshop</span>
    </h1>
     <ul class="relative mt-4 lg:mt-2 -rotate-3 skew-x-[-6deg] text-white text-center grid grid-cols-2 md:grid-cols-4 grid-flow-row auto-rows-min gap-2 uppercase text-sm lg:text-lg z-20"> 
      {% for feature in features %}
      <li class="{{ feature.color }}">
        <a class="block py-1 md:py-3 px-2 md:px-4 hover:underline" href="{{ feature.link }}">
        <span class="block opacity-80">{{ feature.text }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="relative w-full">
      <div class="w-full mt-2 lg:mt-0 vintage opacity-60 z-10 pb-20 md:pb-0 aspect-[1.75/1] sm:aspect-[2/1] md:aspect-[5/2]">
        {% bannerImage 'src/static/images/bikes12.png', 'Service & Repairs for All Makes & Models', false %}
      </div>
      <div class="w-full bottom-0 absolute px-2 lg:px-4 flex flex-col justify-end items-center bg-gradient-to-b from-df-tan/0 via-df-tan/50 to-df-tan/80 pt-12 pb-12 -mb-12 w-full">
        <a class="cta large" href="/bike-servicing/">
          View Services
        </a> 
        <div class="justify-self-end w-full mt-8 mb-4 flex items-center">
          <blockquote class="font-script -rotate-3 skew-x-[-3deg] text-2xl md:text-3xl xl:text-4xl text-center text-gray-800 whitespace-pre-line w-full leading-6 lg:leading-4">
            Bike servicing, parts & accessories, education, and community
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  {# Shop #}
  {# <div>
    <a class="flex justify-center items-center h-48 text-4xl" href="/shop/">Shop</a>
  </div> #}

  {# Bike Hire #}
  <div class="mx-auto max-w-7xl px-2 lg:px-4 pt-6 mt-6 lg:mt-12 lg:pt-12 border-t-2 border-df-gray">
    <h2 class="text-center text-4xl sm:text-4xl lg:text-5xl flex flex-col md:flex-row justify-center font-df-sans">
      <span class="text-shadow text-df-orange font-black uppercase">E-Bike Hire</span>
    </h2>
    <p class="max-w-prose mx-auto text-center mt-2">We offer a variety of e-bikes for hire from our shop in Aberfeldy. Our e-bikes are perfect for first-time e-bike users to test-ride an e-bike and exploring the local area.</p>
    <div class="w-full flex justify-center mt-4">
      <a href="/bikes/hire/" class="cta large">Reserve a Bike</a>
    </div>

  {# Upcoming Courses #}
  <div class="mx-auto max-w-7xl px-2 lg:px-4 pt-6 mt-6 lg:mt-12 lg:pt-12 border-t-2 border-df-gray">
    <h2 class="text-center text-4xl sm:text-4xl lg:text-5xl flex flex-col md:flex-row justify-center font-df-sans mb-4">
      <span class="text-shadow text-df-orange font-black uppercase">Upcoming Courses</span>
    </h2>
    <ul class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-8 lg:gap-12">
    {% for course in courses | sortCourses | limit(4) %}
      <li class="text-lg text-center flex flex-col" data-type="card">
        <h5 class="font-df-sans uppercase font-bold mb-0 pb-0 leading-4">{{ course.title }}</h5>
        <small class="block">{{ course.dates[0].startDate | htmlDateString('E d LLL') }}</small>
        <p class="leading-5 my-2">{{ course.intro }}</p>
        <a href="{{ course.permalink }}" class="text-df-blue font-bold mt-auto w-32 self-center hover:underline">Learn More</a>
      </li>
    {% endfor %}
    </ul>
  </div>

  {# Up-Cycle Program #}
  <div class="mx-auto max-w-7xl px-2 lg:px-4 pt-6 mt-6 lg:mt-16 lg:pt-16 border-t-2 border-df-gray">
    <h2 class="text-center text-4xl sm:text-4xl lg:text-5xl flex flex-col md:flex-row justify-center font-df-sans">
      <span class="text-shadow text-df-orange font-black uppercase">Up-Cycle Programme</span>
    </h2>
    <p class="max-w-prose mx-auto text-center mt-2">We accept donations of bikes and bike components, refurbish them, and put them back into Aberfeldy to give everyone the opportunity to get cycling</p>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-8">
      {% set program = [
          {title: '1. Donate', description: 'Drop-off your old and unused bike', image: 'src/static/images/workshop.jpg', imageAlt: 'Workshop with bike', buttonText: 'Donate a Bike', buttonLink: '/bikes/refurbs/'},
          {title: '2. Refurb', description: 'We\'ll get it into safe, working order', image1: 'src/static/images/refurb-before.png', image2: 'src/static/images/refurb-after.png', id: 'refurb', image1Alt: 'Broken Bike', image2Alt: 'Fixed Bike' },
          {title: '3. Ride', description: 'And back to use in the community', image: 'src/static/images/riding-still.jpg', imageAlt: 'Riding a bicycle', buttonText: 'Refurbed Bikes', buttonLink: '/bikes/refurbs/'}
        ]%}
      {% for step in program %}
      <div class="mb-8 lg:mb-0">
        <div class="relative md:aspect-square text-center">
          <h3 class="font-df-sans font-bold uppercase text-3xl sm:text-2xl xl:text-4xl">{{ step.title }}</h3>
          <p class="mt-2 lg:mt-6 leading-5">{{ step.description }}</p>
          {% if step.image %}
            <div class="mx-auto mt-4 left-0 w-1/2 md:w-full aspect-video">
              <div class="p-1 md:p-2 border-double border-4 border-df-gray top-0 left-0 w-full transition-opacity duration-500">
              {% image step.image, step.imageAlt, "(min-width: 20em) 50vw, 100vw", null, 'eager', null, [200, 400], 'w-full vintage' %}
              </div>
            </div>
          {% endif %}
          {% if step.image1 and step.image2 %}
            <div class="mx-auto left-0 vintage w-1/2 md:w-full aspect-square">
              <div {% if step.id %}id="{{ step.id }}-1"{% endif %} class="absolute top-0 left-0 w-full transition-opacity duration-500">
              {% image step.image1, step.image1Alt, "(min-width: 20em) 50vw, 100vw", null, 'eager', null, [400, 800], 'w-full' %}
              </div>
              <div {% if step.id %}id="{{ step.id }}-2"{% endif %} class="hide absolute top-0 left-0 w-full transition-opacity duration-200">
              {% image step.image2, step.image2Alt, "(min-width: 20em) 50vw, 100vw", null, 'eager', null, [400, 800], 'w-full' %}
              </div>
            </div>
          {% endif %}
          {% if step.buttonText %}
            <a class="cta mt-6" href="{{ step.buttonLink | url }}">{{ step.buttonText }}</a>
          {% endif %}
        </div>
        <div id="sentinel-{{ step.id }}"></div>
      </div>
      {% endfor %}
    </div>
    <script>

      /* Refurb Images - START */
      const refurbSentinelEl = document.getElementById('sentinel-refurb')
      const refurb1El = document.getElementById('refurb-1')
      const refurb2El = document.getElementById('refurb-2')

      const refurbHandler = (entries) => {
        // If the el is scrolling up/into view, replace it
        if (entries[0].boundingClientRect.top > 0)  {
          if (entries[0].isIntersecting) {
            refurb1El.classList.add('hide')
            refurb2El.classList.remove('hide')
          } else {
            refurb2El.classList.add('hide')
            refurb1El.classList.remove('hide')
          }
        }
      }

      const refurbObserver = new window.IntersectionObserver(refurbHandler, {rootMargin: '0px 0px -50px 0px'})
      refurbObserver.observe(refurbSentinelEl)
      /* Refurb Images - END */
    </script>
  </div>

  {# News #}
  <div class="mx-auto max-w-7xl px-2 lg:px-4 pt-6 mt-6 lg:mt-8 lg:pt-8 border-t-2 border-df-gray text-center">
    <h2 class="text-4xl sm:text-4xl lg:text-5xl flex flex-col md:flex-row justify-center font-df-sans">
      <span class="text-shadow text-df-orange font-black uppercase mb-4">News & Updates</span>
    </h2>
     <ul class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 sm:gap-8 lg:gap-12">
        {% for article in collections.news_pages.slice(0,3)  %}
        {% if article.data.banner %}
        {% set articleImageSrc %}
          {% imageBannerUrlFor article.data.banner, 2000 %}
        {% endset %}
        {% endif %}
        <li class="w-full flex justify-center">
            <a class="w-full" href="{{ article.url  | safe }}">
              <h3 class="block font-bold text-center mb-2 sm:min-h-[40px] leading-4">{{article.data.title | safe }}</h3>
              <div class="w-full h-auto p-1 md:p-2 border-double border-4 border-df-gray">
          {% image articleImageSrc, article.data.title, "(min-width: 640px) 100vw, 50vw", null, 'eager', null, [600, 1000], 'object-cover h-full aspect-video' %}
              </div>
              <small>{{ article.data.date | htmlDateString('PP') }}</small>
            </a>
        </li>
        {% endfor %}
      </ul>
  </div>

  {# Become a member #}
  <div class="mx-auto max-w-7xl px-2 lg:px-4 pt-6 mt-6 lg:mt-12 lg:pt-12 border-t-2 border-df-gray">
    <h2 class="text-center text-4xl sm:text-4xl lg:text-5xl flex flex-col md:flex-row justify-center font-df-sans mb-4">
      <span class="text-shadow text-df-orange font-black uppercase">Become a Member</span>
    </h2>
    <div class="flex flex-col items-center mb-8">
      <p class="max-w-prose text-base text-center mb-2">Becoming a member of the Community Cycle Workshop provides a range of benefits for you and helps support our local cycling initiatives. Memberships are valid for 12 months, for a <strong>pay-what-you-can</strong> price<br>
      <small>(suggested membership pledge is <strong>£39</strong> but you may pay less or more)</small></p>
      <a href="/membership/" class="cta large">Become a Member</a>
    </div>
  </div>

  {# <div class="mx-auto max-w-7xl px-2 lg:px-4 pt-6 mt-6 lg:mt-16 lg:py-8 border-t border-zinc-400 grid grid-rows-2 md:grid-rows-1 grid-cols-1 md:grid-cols-8">
    <div class="col-span-3">
      <h2>Social Rides</h2>
    </div>
    <div class="mx-auto w-2/3 sm:w-1/2 md:w-full col-span-2">
    {% image 'src/static/images/daftandslow.png', '', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, [500, 1000], 'w-full' %}
    </div>
    <div class="col-span-3">
      <h2>Social Rides</h2>
    </div>
  </div> #}
{% endblock %}

{% block scripts %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BikeStore",
  "image": [
    "https://example.com/photos/1x1/photo.jpg",
    "https://example.com/photos/4x3/photo.jpg",
    "https://example.com/photos/16x9/photo.jpg"
   ],
  "@id": "{{ metadata.url }}",
  "name": "{{ metadata.title | safe }}",
  "priceRange": "£ - £££",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ metadata.contact.address }}, {{ metadata.contact.address2 }}",
    "addressLocality": "{{ metadata.contact.city }}",
    "addressRegion": "{{ metadata.contact.region }}",
    "postalCode": "{{ metadata.contact.postalCode }}",
    "addressCountry": "{{ metadata.contact.country }}"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 56.619729,
    "longitude": -3.866270
  },
  "foundingDate": "2023-04-01",
  "founder": {
    "givenName": "Brett",
    "familyName": "DeWoody"
  },
  "url": "{{ metadata.url }}",
  "telephone": "{{ metadata.contact.phone }}",
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday"
      ],
      "opens": "11:30",
      "closes": "22:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Wednesday",
        "Thursday",
        "Friday"
      ],
      "opens": "11:30",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Saturday",
      "opens": "16:00",
      "closes": "23:00"
    },
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": "Sunday",
      "opens": "16:00",
      "closes": "22:00"
    }
  ]
}
</script>
{% endblock %}
