{% extends 'layouts/base/index.njk' %}

{%- set pageContent = pages | getPage(pageID) -%}
{%- set bannerImageLg -%}
  {%- imageUrlFor pageContent.banner.asset._ref, 2000 -%}
{%- endset -%}

{% set bannerTitle = pageContent.title %}

{% block banner %}
  {% if bannerImageLg %}
    {% include "./includes/bannerSmall.njk" %}
  {% endif %}
{% endblock %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-6xl w-full py-20 flex flex-col items-center">
      <div class="max-w-xl">{{ pageContent.content | blocksToHTML | safe }}</div>

       <ul class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-12">
      {%- for post in collections.resources -%}
        {%- set postContent = pages | getPage(post.data.pageID) -%}
        {%- set postImage -%}
            {%- imageUrlFor postContent.banner.asset._ref, 600 -%}
          {%- endset -%}
        <li class="card relative flex w-full items-end h-64 rounded bg-cover bg-no-repeat bg-center p-4 after:absolute after:top-0 after:left-0 after:w-full after:rounded after:bg-pg-blue-dark/[.3] after:h-full after:grow" style="background-image: url('{{ postImage }}')">
          <a href="{{ post.url }}" class="relative flex font-bold text-white text-lg z-10">
            {{ postContent.title }}
            {% svgIcon 'src/assets/icons/arrow.svg', 'ml-2 w-6' %}
          </a>
        </li>
      {%- endfor -%}
      </ul>

      <p class="max-w-xl mt-12">If you have any questions about our resources or would like to submit a new resource, please <a class="underline" href="/contact/">get in touch</a>.</p>

    </div>
  </section>
{% endblock %}
