{
  "type": "FeatureCollection",
  "features": [
{%- set comma = joiner(',') -%}
{%- for route in collections.routes -%}
  {%- set currentRoute = route.data.route -%}
  {{ currentRoute.lineString | dump | safe }}
  {%- if not loop.last -%},{% endif %}
{%- endfor -%}
  ]
}
