<section class="relative w-full text-white bg-cover bg-no-repeat bg-center overflow-hidden h-[500px] md:h-[400px] xl:h-[520px] flex flex-col justify-end md:items-center pb-12 px-4 after:absolute after:top-0 after:left-0 after:top-0 after:w-full after:h-full after:bg-pg-blue-dark/[.3]"
    style="background-image: url('{{ bannerImageLg }}')"
  >
    <div class="w-full max-w-6xl z-10">
      {% if bannerSubtitle %}
        <small class="block text-base font-medium mb-2">
          <a href="/">Home</a> >
          {{ bannerSubtitle | safe }}
        </small>
        {% endif %}
      <h1 class="w-4/5 md:w-full">{{ bannerTitle }}</h1>
    </div>
  </section>
