<section class="w-full flex flex-col items-center">
  <div class="w-full h-[120px] bg-df-blue-dark mb-20"></div>
  <div class="z-10 flex flex-col items-center text-center">
    {% if bannerSubtitle %}
      <small class="block text-base font-medium mb-2">
        <a href="/">Home</a> >
        {{ bannerSubtitle | safe }}
      </small>
      {% endif %}
    <h1 class="w-4/5 md:w-full">{{ bannerTitle }}</h1>
    <div class="divider w-40"></div>
  </div>
</section>
