<ul class="md:w-full flex flex-col md:flex-row justify-center my-8 text-2xl">
  <li class="mx-6 flex justify-center whitespace-nowrap">
    <a href="tel:{{ metadata.contact.phone }}" title="Phone - {{ metadata.contact.phone }}" class="h-full flex items-center">{% svgIcon 'src/assets/icons/socialPhone.svg', 'fill-gray-800 w-5 h-5 mr-2' %} {{ metadata.contact.phone }}</a>
  </li>
  <li class="mx-6 flex justify-center whitespace-nowrap">
    <a href="mailto:{{ metadata.contact.email }}" title="Email - {{ metadata.contact.email }}" class="h-full flex items-center">{% svgIcon 'src/assets/icons/socialEmail.svg', 'fill-gray-800 w-6 h-6 mr-2' %} {{ metadata.contact.email }}</a>
  </li>
  <li class="mx-6 flex justify-center whitespace-nowrap">
    <a href="https://wa.me/{{ metadata.social.whatsapp }}" title="WhatsApp - {{ metadata.social.whatsapp }}" class="h-full flex items-center">{% svgIcon 'src/assets/icons/socialWhatsApp.svg', 'fill-gray-800 w-5 h-5 mr-2' %} WhatsApp</a>
  </li>
</ul>
