<div class="flex flex-col items-center mb-8">
  <p class="max-w-prose text-base text-center mb-2">Becoming a member of the Community Cycle Workshop provides a range of benefits for you and helps support our local cycling initiatives. Memberships are valid for 12 months, for a <strong>pay-what-you-can</strong> price<br>
  <small>(suggested membership pledge is <strong>£39</strong> but you may pay less or more)</small></p>
  <div class="ecsp ecsp-SingleProduct-v2 ecsp-Product ec-Product-701008103" itemtype="http://schema.org/Product" data-single-product-id="701008103"><div class="ecsp-title" itemprop="name" style="display:none;" content="Annual Membership"></div><div customprop="addtobag"></div></div><script data-cfasync="false" type="text/javascript" src="https://app.business.shop/script.js?108911079&data_platform=singleproduct_v2" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
</div>
