<div class="flex flex-col items-center mb-8">
  <p class="max-w-prose text-base text-center mb-2">Becoming a member of the Community Cycle Workshop provides a range of benefits for you and helps support our local cycling initiatives. Memberships are valid for 12 months, for a <strong>pay-what-you-can</strong> price<br>
  <small>(suggested membership pledge is <strong>£39</strong> but you may pay less or more)</small></p>
  <ul class="grid text-lg list-none mb-6 grid-cols-1 sm:grid-cols-2 gap-x-4 gap-y-4 lg:gap-y-6 lg:gap-x-8 text-center">
    <li>
    <strong>10% Discount on Servicing, Parts & Accessories</strong><br>
    Save 10% on purchases at the workshop - tubes, tyres, upgrades, even bikes
  </li>
  <li>
    <strong>50% Discount on Educational Courses</strong><br>
    Learn to service your bike
  </li>
  <li>
    <strong>Use of the Community Tools for DIY Fixes</strong>
    <br>
    Like having your own bike garage - a full set of tools and equipment to service your bikes
  </li>
  <li>
    <strong>Access to the Spare Parts Bin</strong><br>
    Use parts from our donated and salvaged parts bin to build a bike
  </li>
  </ul>
  <a href="https://www.crowdfunder.co.uk/p/aberfeldy-community-cycle-hub" class="cta large" target="_blank">Become a Member</a>
  <small class="text-xs uppercase mt-2">This will open a new page with our Crowdfunder campaign</small>
</div>
