<div class="flex flex-col items-center mb-8">
  <p class="max-w-prose text-base text-center mb-2">Becoming a member of the Community Cycle Workshop provides a range of benefits for you and helps support our local cycling initiatives. Memberships are valid for 12 months, for a <strong>pay-what-you-can</strong> price<br>
  <small>(suggested membership pledge is <strong>£39</strong> but you may pay less or more)</small></p>
  <a href="/membership/" class="cta large">Become a Member</a>
</div>
