<p class="mb-4">We take privacy very seriously. You may unsubscribe from emails at any time. For information about our privacy practices, please view our <a href="/privacy-policy/" target="_blank" class="hover:underline">Privacy Policy</a>.</p>
<p>You will be redirected to our Shopify store to complete your signup.</p>
