<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
  {% for route in routesList %}
    {%- set routeMainImage -%}
      {%- if route.mainImage -%}
      {% imageUrlFor route.mainImage.asset._ref, 800 %}
      {%- endif -%}
    {%- endset -%}
    <li
      class="card route-card" 
      {% if routeMainImage %}style="background-image:url('{{ routeMainImage }}')"{% endif %}
    >
      <div class="z-10">
        <a href="/routes/{{ route.slug.current | url }}/" class="block text-xl font-bold leading-none mb-3 ">
          {{ route.title }}
        </a>
        <div class="metrics">
          <div>
            <span>Distance</span>
            <span>{{ route.totalDistance }} km</span>
          </div>
          <div>
            <span>Ascent</span>
            <span>{{ route.elevationGain }} m</span>
          </div>
          <div>
            <span>Time</span>
            <span>{{ route.time }}</span>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
