<h2 class="text-4xl text-center mb-6 mt-12">Supported By</h2>
<p class="text-center">We are thankful for support from the following organisations who helped get us rolling</p>
<ul class="flex flex-wrap justify-center opacity-50 invert contrast-200">
  <a href="https://www.tnlcommunityfund.org.uk/">{% image 'src/static/logos/nationallotterycommunityfund.png', 'The National Lottery Community Fund', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-12 mx-2 md:mx-4 my-2 md:h-20 w-auto' %}</a>
  <a href="https://www.firstport.org.uk/">{% image 'src/static/logos/firstportlogo.png', 'Firstport', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-12 mx-2 md:mx-4 my-2 md:h-20 w-auto ' %}</a>
  <a href="https://pkc.communitychoices.scot/budgets/2">{% image 'src/static/logos/pkc-greenlivingfund.png', 'PKC Green Living Fund', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-12 mx-2 md:mx-4 my-2 md:h-20 w-auto' %}</a>
  <a href="https://www.enchantedforest.org.uk/the-trust/">{% image 'src/static/logos/theenchantedforest.png', 'The Enchanted Forest Trust', "(min-width: 20em) 50vw, 100vw", null, 'eager', null, null, 'h-12 mx-2 md:mx-4 my-2 md:h-20 w-auto' %}</a>
</ul>
