{% extends 'layouts/page.njk' %}

{% block content %}
  <section class="flex justify-center px-2 lg:px-4">
    <div class="max-w-7xl w-full py-12 lg:py-20">
      <div class="parent-description">
      {{ content | md | safe }}
      </div>

    <h3 class="text-center mt-12 font-bold text-2xl mb-4">
      Available Refurbs
    </h3>
    {% set availableRefurbs = refurbs | available %}
    {% set pastRefurbs = refurbs | unavailable %}

    {% if availableRefurbs.length > 0 %}
    <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
    {% for refurb in availableRefurbs %}
      <li>
        <a class="font-base text-base text-df-tan" href="/bikes/refurbs/{{ refurb.slug }}">
          <div class="z-10 relative aspect-[4/3] mb-2 overflow-hidden">
            <div class="w-full">
              {% image refurb.images[0].url, refurb.name, "(min-width: 30em) 100vw" %}
            </div>
            <div class="w-32 text-center pt-1 text-lg pb-10 absolute -right-12 -bottom-4 bg-df-tan text-df-black font-df -rotate-45">
            {% if refurb.price == 0 %}
              FREE
            {% else %}
              £{{ refurb.price }} 
            {% endif %}
            </div>
          </div>
          <div class="relative z-20">
          {% if refurb.altPrice %}
            <small>or {{ refurb.altPrice }} </small><br>
          {% endif %}
          {{ refurb.name }}
          </div>
        </a>
      </li>
    {% endfor %}
    </ul>
    {% else %}
    <h3 class="text-center mt-4">No bikes available at this time</h3>
    {% endif %}

    {% if pastRefurbs.length > 0 %}
    <h3 class="text-center mt-12 font-bold text-2xl mb-4">
      Past Refurbs
    </h3>
    <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
    {% for refurb in pastRefurbs %}
      <li>
        <a class="font-base text-base text-df-tan" href="/bikes/refurbs/{{ refurb.slug }}">
          <div class="z-10 relative aspect-[4/3] mb-2 overflow-hidden">
            <div class="w-full">
              {% image refurb.images[0].url, refurb.name, "(min-width: 30em) 100vw" %}
            </div>
            <div class="w-32 text-center pt-1 text-lg pb-10 absolute -right-12 -bottom-4 bg-df-tan text-df-black font-df -rotate-45">
            {% if refurb.price == 0 %}
              FREE
            {% else %}
              £{{ refurb.price }} 
            {% endif %}
            </div>
          </div>
          <div class="relative z-20">
          {% if refurb.altPrice %}
            <small>or {{ refurb.altPrice }} </small><br>
          {% endif %}
          {{ refurb.name }}
          </div>
        </a>
      </li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
</section>
{% endblock %}
